<div id="perk-tree-controls" class="d-flex flex-row">
    <div class="hud d-flex flex-row {{#if editMode}}editing{{/if}}">
        <div class="h3 center-text" style="flex: 1;">Hud</div>
        <button class="toggleEdit fb-20">{{#if editMode}}Disable{{else}}Enable{{/if}} EditMode</button>
        <button class="refresh fb-10">Refresh</button>
        <button class="close fb-10">Close</button>
    </div>
</div>