<li class="item flexrow" data-tooltip="{{entry.description}}" data-tooltip-direction="LEFT">
  <div class="name" style="flex: 0 0 8.5rem;">
    <span class="trait {{entry.type}}">
      <span>[</span><span class="tag">{{entry.name}}</span><span>]</span>
    </span>
  </div>
  <div class="description">
    {{{entry.description}}}
  </div>
</li>