<aside class="target">
  {{#if document.img}}<img src="{{document.img}}">{{/if}}
  <span class="header">Data Inspector: {{#if document.name}}{{document.name}}{{else}}Chat Message{{/if}}</span>
</aside>