<section class="tab sheet-body {{tabs.perks.cssClass}}" data-tab="perks" data-group="sheet">
    <aside class="traits"> 
        <input type="text" class="traits ptr2e-tagify" name="system.traits" value="{{json traits}}" data-dType="JSON"/>
    </aside>
    {{> actor-perks-component}}
    {{> actor-abilities-component direction="RIGHT"}}
</section>