<aside class="actor-header">
    <img class="profile-img" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img">
    <div class="title">
        {{formInput baseFields.name value=actor.name localized=true}}
    </div>
</aside>