<section class="tab sheet-body {{tabs.clocks.cssClass}}" data-tab="clocks" data-group="sheet">
    <div class="scroll" style="grid-area: span 5 / span 5; align-items: center; place-content: center; font-size: xx-large;">
        <span>The Crafting & Clocks tab</span>
        <span>Will be added in a later build!</span>
    </div>
</section>
