<aside id="perk-hud">
    <header>{{#if perk}}{{perk.link}}{{/if}} ({{position.i}},{{position.j}})</header>
    <footer>
        <button data-action="cheapest-path">Highlight Cheapest Path</button>
        <button data-action="shortest-path">Highlight Shortest Path</button>
    </footer>
</aside>