<section class="tab sheet-body {{tabs.effects.cssClass}}" data-tab="effects" data-group="sheet">
    <fieldset>
        <legend>
            <h3>Effects</h3>
        </legend>
    </fieldset>
</section>