<section class="tab sheet-body {{tabs.overview.cssClass}}" data-tab="overview" data-group="sheet">
    <div class="scroll">
        <fieldset>
            <legend>
                Move Overview
            </legend>
            {{> move-body attack=attack.attack fields=attack.fields}}
        </fieldset>
    </div>
</section>