<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
    <fieldset>
        <legend>
            <h3>Details</h3>
        </legend>
        {{formField fields.description value=source.system.description button=true}}
    </fieldset>
</section>