<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
    <fieldset>
        <legend>
            Details
        </legend>
        {{formField fields.grade value=source.system.grade}}
        {{!-- {{formField fields.description enriched=enrichedDescription value=source.system.description toggled=true localize=true}} --}}
    </fieldset>
</section>