<div class="change-drop-container">
    <div class="change-drop-zone" data-id="{{dropId}}">
        {{#if dropTooltip}}
            <i class="fa-solid fa-fw fa-info-circle" data-tooltip="{{localize dropTooltip}}"></i>
        {{/if}}
        <span>{{localize dropText}}</span>
    </div>
</div>
