<figure class="effect-traits">
    {{#if traits}}
    <header>
        {{#each traits as |trait|}}
        {{> trait-partial trait=trait direction="LEFT"}}
        {{/each}}
    </header>
    {{/if}}
    <main>
        <aside>
            {{{getIcon attack.category}}}
            {{#each attack.types as |type|}}
            {{{getIcon type}}}
            {{/each}}
        </aside>
        {{#if attack.description}}
        <article>
            <p>
                {{{attack.description}}}
            </p>
        </article>
        {{else}}
        <article class="center">
            <small><i>No Effect Description Provided</i></small>
        </article>
        {{/if}}
    </main>
</figure>