<aside class="stats-chart-aside">
    {{#if fieldset}}
        <fieldset>
            <legend>Stats Chart</legend>
            <canvas class="stats-chart" {{#if id}}id="{{id}}" {{/if}}>

            </canvas>
            <button type="button" data-action="open-stats-chart">Open Stats Editor</button>
        </fieldset>
    {{else}}
        <canvas class="stats-chart" {{#if id}}id="{{id}}" {{/if}}>

        </canvas>
    {{/if}}
</aside>