.chat-message.message {
    background: var(--user-color, #fefefe);
    padding: 0;
    color: #1e1e1e;

    --color-underline-header: #6f6c66;

    &.whisper {
        background-color: #bcbcbc;
        // border: 3px solid #83a1bd;

        header.message-header {
            background-color: #bcbcbc;
        }
        .message-content {
            background-color: #dcdcdc;
        }
    }

    header.message-header {
        color: whitesmoke;
        text-shadow: 1px 1px 5px #1e1e1e;
        padding: 0.25rem;
        background-color: var(--user-color, #cdcdcd);
        border-radius: 5px 5px 0 0;

        .flavor-text {
            font-style: italic;
        }
    }

    .message-content {
        background-color: #fefefe;
        padding: 0.25rem 0.5rem;
        border-radius: 8px;
    }

    &.damage-applied {
        .message-content {
            padding: 0;

            >main {
                display: flex;
                flex-direction: row;

                padding: 0.25rem 0.5rem;

                &.undone {
                    text-decoration: line-through;
                }

                p {
                    flex: 1;
                }

                button {
                    flex: 0 0 50px;
                    padding: 0;
                }
            }
        }
    }

    &.attack, &.skill {
        .message-content {
            padding: 0;

            >header {
                background-color: #dedede;
                border-bottom: 1px solid var(--color-underline-header);
                text-align: center;
                padding: 3px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 8px 8px 0 0;

                .icon {
                    flex: 0 0 36px;
                    display: flex;

                    img {
                        width: 36px;
                        height: 36px;
                        border: unset;
                        object-fit: scale-down;
                    }
                }

                h3 {
                    border: unset;
                    padding: unset;
                    margin: unset;
                }
            }

            >main {
                display: flex;
                flex-direction: column;

                .collapse-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;

                    .collapse-rolls {
                        background-color: #eee;
                        cursor: pointer;
                        font-size: 15px;
                        border: none;
                        outline: none;
                        padding: 0 0.5rem;
                        border-bottom: 1px solid var(--color-underline-header);

                        &:after {
                            content: "▶";
                            color: #2e2e2e;
                            font-size: 13px;
                            float: right;
                            margin-left: 5px;
                            width: 10px;
                        }

                        &.expanded:after {
                            content: "▼";
                        }
                    }
                }

                >article {
                    &.collapsed {
                        display: none;
                    }

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    >section {
                        flex: 1 0 50%;
                        padding: 0.5rem;
                        border-bottom: 1px solid var(--color-underline-header);

                        h3 {
                            text-align: center;
                            font-size: 1rem;
                        }

                        &:nth-child(even) {
                            border-left: 1px solid var(--color-underline-header);
                            background-color: #fefefe;
                        }

                        &:nth-child(odd) {
                            background-color: #fefefe;
                        }

                        .dice-roll {

                            .dice-formula,
                            .dice-total {
                                border-radius: 10px;
                            }

                            .dice-tooltip.expanded {
                                padding: 0.25rem;
                                background-color: #dedede;
                                border-radius: 10px;
                                margin: 0.25rem 0;
                                text-align: center;

                                .part-header {
                                    position: relative;

                                    .part-total {
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                    }
                                }

                                ol.dice-rolls {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }

                    >figure {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        margin: 0;

                        >header {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;

                            padding: 0 0.25rem;

                            background-color: #dedede;
                            border-bottom: 1px solid var(--color-underline-header);
                            border-radius: 0 0 10px 10px;

                            .trait {
                                flex: 0 1 auto;
                                margin: 0 2px;
                            }
                        }

                        >main {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            >aside {
                                display: flex;
                                flex-direction: column;
                                flex: 0 0 44px;
                                margin: 0.25rem 0.25rem;
                                gap: 2px;

                                .icon {
                                    border: unset;
                                }
                            }

                            >article {
                                display: flex;
                                align-items: center;
                                flex: 1;

                                &.center {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            >footer {
                display: flex;
                flex-direction: column;
                border-radius: 0 0 8px 8px;

                .target {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 3px;
                    height: 43px;
                    text-align: center;

                    &:nth-child(odd) {
                        background-color: #fefefe;
                        border-top: 1px solid var(--color-underline-header);
                        border-bottom: 1px solid var(--color-underline-header);
                    }

                    &:nth-child(even) {
                        background-color: #efefef;
                    }

                    &:first-child {
                        border-top: unset;
                        background-color: #dedede;
                    }

                    &:last-child {
                        border-radius: 0 0 8px 8px;
                    }

                    .icon {
                        flex: 0 0 36px;
                        display: flex;
                        justify-content: center;

                        img {
                            width: 36px;
                            height: 36px;
                            border: unset;
                            object-fit: scale-down;
                        }
                    }

                    .status {
                        margin-left: 0.25rem;
                        flex: 0 0 64px;

                        i.fas {
                            font-size: 22px;

                            &.fa-certificate {
                                color: #1edf6e;
                            }

                            &.fa-crosshairs {
                                color: #14afdf;
                            }

                            &.fa-times-circle {
                                color: #f04e4e;
                            }
                        }
                    }

                    .damage {
                        margin-left: 0.25rem;
                        flex: 1;

                        span {
                            font-size: 16px;
                        }
                    }

                    .apply {
                        flex: 0 0 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            color: #1e1e1e;
                            padding: 0;

                            &.update-targets {
                                flex: 0 0 60%;
                                padding: 0.25rem;
                                i {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.skill {
        .message-content {
            header {
                justify-content: flex-start;
                h3 {
                    text-wrap: pretty;
                    flex: 1;
                }
            }
        }

        main {
            padding: 0.25rem;
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;

            p.luck-roll {
                flex: 0 0 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                border: 1px solid var(--border-theme-color);
                border-radius: 8px;
                padding: 0.25rem;
                button {
                    flex: 0 0 30%;

                    &[disabled] {
                        filter: contrast(0.7);
                    }
                }
            }
        }

        .skill-roll {
            &.success {
                .dos {
                    color: #18520b;
                    background: #18520b33;
                }

                .dice-roll {
                    .dice-total {
                        color: #18520b;
                    }
                }
            }

            &.failure {
                .dos {
                    color: #aa0200;
                    background: #aa020033;
                }

                .dice-roll {
                    .dice-total {
                        color: #aa0200;
                    }
                }
            }

            .reroll {
                color: #714a03;
                background: #f3daac;
            }

            .dos, .reroll {
                font-weight: bold;
                padding: 0.5rem;
                border: 1px solid var(--border-theme-color);
                border-radius: 8px;
                margin-top: 0.25rem;
                margin-bottom: 0;
            }
        }
    }
}