.chat-message.message {
  background: #fefefe;
  padding: 0;
  color: #1e1e1e;
  --color-underline-header: #6f6c66;
}
.chat-message.message.whisper {
  border: 3px solid #83a1bd;
}
.chat-message.message.whisper header.message-header {
  background-color: #bcbcbc;
}
.chat-message.message.whisper .message-content {
  background-color: #dcdcdc;
}
.chat-message.message header.message-header {
  padding: 0.25rem;
  background-color: #cdcdcd;
  border-bottom: 1px solid var(--color-underline-header);
  border-radius: 5px 5px 0 0;
}
.chat-message.message .message-content {
  background-color: #fefefe;
  padding: 0.25rem;
}
.chat-message.message.damage-applied .message-content {
  padding: 0;
}
.chat-message.message.damage-applied .message-content > main {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}
.chat-message.message.damage-applied .message-content > main.undone {
  text-decoration: line-through;
}
.chat-message.message.damage-applied .message-content > main p {
  flex: 1;
}
.chat-message.message.damage-applied .message-content > main button {
  flex: 0 0 50px;
  padding: 0;
}
.chat-message.message.attack .message-content {
  padding: 0;
}
.chat-message.message.attack .message-content > header {
  background-color: #dedede;
  border-bottom: 1px solid var(--color-underline-header);
  text-align: center;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chat-message.message.attack .message-content > header .icon {
  flex: 0 0 36px;
  display: flex;
}
.chat-message.message.attack .message-content > header .icon img {
  width: 36px;
  height: 36px;
  border: unset;
  object-fit: scale-down;
}
.chat-message.message.attack .message-content > header h3 {
  border: unset;
  padding: unset;
  margin: unset;
}
.chat-message.message.attack .message-content > main {
  display: flex;
  flex-direction: column;
}
.chat-message.message.attack .message-content > main .collapse-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls {
  background-color: #eee;
  cursor: pointer;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls:after {
  content: "▶";
  color: #2e2e2e;
  font-size: 13px;
  float: right;
  margin-left: 5px;
  width: 10px;
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls.expanded:after {
  content: "▼";
}
.chat-message.message.attack .message-content > main > article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chat-message.message.attack .message-content > main > article.collapsed {
  display: none;
}
.chat-message.message.attack .message-content > main > article > section {
  flex: 1 0 50%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > main > article > section h3 {
  text-align: center;
  font-size: 1rem;
}
.chat-message.message.attack .message-content > main > article > section:nth-child(even) {
  border-left: 1px solid var(--color-underline-header);
  background-color: #fefefe;
}
.chat-message.message.attack .message-content > main > article > section:nth-child(odd) {
  background-color: #fefefe;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-formula,
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-total {
  border-radius: 10px;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded {
  padding: 0.25rem;
  background-color: #dedede;
  border-radius: 10px;
  margin: 0.25rem 0;
  text-align: center;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded .part-header {
  position: relative;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded .part-header .part-total {
  position: absolute;
  right: 0;
  top: 0;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded ol.dice-rolls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat-message.message.attack .message-content > main > article > figure {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.chat-message.message.attack .message-content > main > article > figure > header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.25rem;
  background-color: #dedede;
  border-bottom: 1px solid var(--color-underline-header);
  border-radius: 0 0 10px 10px;
}
.chat-message.message.attack .message-content > main > article > figure > header .trait {
  flex: 0 1 auto;
  margin: 0 2px;
}
.chat-message.message.attack .message-content > main > article > figure > main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-message.message.attack .message-content > main > article > figure > main > aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem 0.25rem;
  gap: 2px;
}
.chat-message.message.attack .message-content > main > article > figure > main > aside .icon {
  border: unset;
}
.chat-message.message.attack .message-content > main > article > figure > main > article {
  flex: 1;
}
.chat-message.message.attack .message-content > main > article > figure > main > article.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chat-message.message.attack .message-content > footer {
  display: flex;
  flex-direction: column;
}
.chat-message.message.attack .message-content > footer .target {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  height: 43px;
  text-align: center;
}
.chat-message.message.attack .message-content > footer .target:nth-child(odd) {
  background-color: #fefefe;
  border-top: 1px solid var(--color-underline-header);
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > footer .target:nth-child(even) {
  background-color: #efefef;
}
.chat-message.message.attack .message-content > footer .target:first-child {
  border-top: unset;
  background-color: #dedede;
}
.chat-message.message.attack .message-content > footer .target .icon {
  flex: 0 0 36px;
  display: flex;
  justify-content: center;
}
.chat-message.message.attack .message-content > footer .target .icon img {
  width: 36px;
  height: 36px;
  border: unset;
  object-fit: scale-down;
}
.chat-message.message.attack .message-content > footer .target .status {
  margin-left: 0.25rem;
  flex: 0 0 64px;
}
.chat-message.message.attack .message-content > footer .target .status i.fas {
  font-size: 22px;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-certificate {
  color: #1edf6e;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-crosshairs {
  color: #14afdf;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-times-circle {
  color: #f04e4e;
}
.chat-message.message.attack .message-content > footer .target .damage {
  margin-left: 0.25rem;
  flex: 1;
}
.chat-message.message.attack .message-content > footer .target .damage span {
  font-size: 16px;
}
.chat-message.message.attack .message-content > footer .target .apply {
  flex: 0 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-message.message.attack .message-content > footer .target .apply button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #1e1e1e;
  padding: 0;
}
