aside[role="tooltip"].attack,
.chat-message .move-embed, .effect-embed {
    figure {
        header {
            h2 {
                border-bottom: unset;
                text-align: center;
            }

            &.traits {
                tags[readonly] {
                    width: 100%;

                    --tags-border-color: var(--color-light-6);
                    --tag-bg: var(--color-light-4);
                    --tag-pad: 1px 3px;
                    --readonly-striped: 0;
                    --tag-hover: var(--color-light-3);
                    justify-content: center;

                    span.tagify__input {
                        display: none;
                    }
                }
            }
        }

        aside {
            img {
                border: unset;
                border-radius: 50%;
            }
        }

        content.attack-embed {
            font-size: 15px;
            section.attack-info {
                grid-template-areas:
                    "basic"
                    "range"
                    "cost";
            }

            fieldset article {
                line-height: 1.3;
                line-break: pre-wrap;
            }
        }
    }
}

.chat-message {
    .message-content {
        > figure.content-embed:only-child {
            margin: 0 0 0.5rem 0;
        }
    }

    .move-embed, .effect-embed {
        padding: 0.5rem;
        border: 1px solid var(--color-light-6);
        border-radius: 8px;
        background-color: var(--color-light-3);

        > figure {
            margin: 0;
        }

        tags {
            border-radius: 8px;
            background-color: var(--color-light-2);
        }

        .attack-description fieldset {
            background: var(--color-light-2);
        }
        fieldset {
            border-color: var(--color-light-6);
            border-radius: 8px;
        }
    }
}

content.attack-embed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    aside {
        display: flex;
        flex-direction: column;
        flex: 0 0 44px;
        margin: 0.25rem;
        gap: 5px;

        img {
            border: unset;
            border-radius: 50%;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 0.25rem;

        section.attack-info {
            display: grid;
            grid-template-areas:
                "basic cost"
                "range cost";

            fieldset {
                display: grid !important;
                grid-template-columns: 60% 40%;
                grid-auto-rows: 17px;
                gap: 0.25rem !important;
                padding: 0.25rem !important;
                border: unset;
                margin-bottom: unset !important;

                &.basic {
                    grid-area: basic;
                }

                &.range {
                    grid-area: range;
                }

                &.cost {
                    grid-area: cost;
                }

                label {
                    font-weight: bold;
                }
            }
        }

        section.attack-description {
            margin-top: 1rem;
            article {
                min-height: 50px;
            }
        }
    }
}