aside[role="tooltip"].attack figure header h2,
.chat-message .move-embed figure header h2 {
  border-bottom: unset;
  text-align: center;
}
aside[role="tooltip"].attack figure header.traits tags[readonly],
.chat-message .move-embed figure header.traits tags[readonly] {
  width: 100%;
  --tags-border-color: var(--color-light-6);
  --tag-bg: var(--color-light-4);
  --tag-pad: 1px 3px;
  --readonly-striped: 0;
  --tag-hover: var(--color-light-3);
  justify-content: center;
}
aside[role="tooltip"].attack figure header.traits tags[readonly] span.tagify__input,
.chat-message .move-embed figure header.traits tags[readonly] span.tagify__input {
  display: none;
}
aside[role="tooltip"].attack figure aside img,
.chat-message .move-embed figure aside img {
  border: unset;
  border-radius: 50%;
}
aside[role="tooltip"].attack figure content.attack-embed,
.chat-message .move-embed figure content.attack-embed {
  font-size: 15px;
}
aside[role="tooltip"].attack figure content.attack-embed section.attack-info,
.chat-message .move-embed figure content.attack-embed section.attack-info {
  grid-template-areas: "basic" "range" "cost";
}
aside[role="tooltip"].attack figure content.attack-embed fieldset article,
.chat-message .move-embed figure content.attack-embed fieldset article {
  line-height: 1.3;
  line-break: pre-wrap;
}
.chat-message .message-content > figure.content-embed:only-child {
  margin: 0 0 0.5rem 0;
}
.chat-message .move-embed {
  padding: 0.5rem;
  border: 1px solid var(--color-light-6);
  border-radius: 8px;
  background-color: var(--color-light-3);
}
.chat-message .move-embed > figure {
  margin: 0;
}
.chat-message .move-embed tags {
  border-radius: 8px;
  background-color: var(--color-light-2);
}
.chat-message .move-embed .attack-description fieldset {
  background: var(--color-light-2);
}
.chat-message .move-embed fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
}
content.attack-embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
content.attack-embed aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem;
  gap: 5px;
}
content.attack-embed aside img {
  border: unset;
  border-radius: 50%;
}
content.attack-embed main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0.25rem;
}
content.attack-embed main section.attack-info {
  display: grid;
  grid-template-areas: "basic cost" "range cost";
}
content.attack-embed main section.attack-info fieldset {
  display: grid !important;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 17px;
  gap: 0.25rem !important;
  padding: 0.25rem !important;
  border: unset;
  margin-bottom: unset !important;
}
content.attack-embed main section.attack-info fieldset.basic {
  grid-area: basic;
}
content.attack-embed main section.attack-info fieldset.range {
  grid-area: range;
}
content.attack-embed main section.attack-info fieldset.cost {
  grid-area: cost;
}
content.attack-embed main section.attack-info fieldset label {
  font-weight: bold;
}
content.attack-embed main section.attack-description {
  margin-top: 1rem;
}
content.attack-embed main section.attack-description article {
  min-height: 50px;
}
