aside[role="tooltip"].attack figure header h2,
.chat-message .move-embed figure header h2,
.chat-message .effect-embed figure header h2,
.chat-message .ability-embed figure header h2,
.chat-message .consumable-embed figure header h2,
.chat-message .container-embed figure header h2,
.chat-message .effect-item-embed figure header h2,
.chat-message .equipment-embed figure header h2,
.chat-message .gear-embed figure header h2,
.chat-message .perk-embed figure header h2,
.chat-message .species-embed figure header h2,
.chat-message .weapon-embed figure header h2 {
  border-bottom: unset;
  text-align: center;
}
aside[role="tooltip"].attack figure header.header,
.chat-message .move-embed figure header.header,
.chat-message .effect-embed figure header.header,
.chat-message .ability-embed figure header.header,
.chat-message .consumable-embed figure header.header,
.chat-message .container-embed figure header.header,
.chat-message .effect-item-embed figure header.header,
.chat-message .equipment-embed figure header.header,
.chat-message .gear-embed figure header.header,
.chat-message .perk-embed figure header.header,
.chat-message .species-embed figure header.header,
.chat-message .weapon-embed figure header.header {
  border-bottom: 1px solid var(--color-light-6);
}
aside[role="tooltip"].attack figure header.traits,
.chat-message .move-embed figure header.traits,
.chat-message .effect-embed figure header.traits,
.chat-message .ability-embed figure header.traits,
.chat-message .consumable-embed figure header.traits,
.chat-message .container-embed figure header.traits,
.chat-message .effect-item-embed figure header.traits,
.chat-message .equipment-embed figure header.traits,
.chat-message .gear-embed figure header.traits,
.chat-message .perk-embed figure header.traits,
.chat-message .species-embed figure header.traits,
.chat-message .weapon-embed figure header.traits {
  margin-top: 0.5rem;
  border-bottom: unset;
}
aside[role="tooltip"].attack figure header.traits tags[readonly],
.chat-message .move-embed figure header.traits tags[readonly],
.chat-message .effect-embed figure header.traits tags[readonly],
.chat-message .ability-embed figure header.traits tags[readonly],
.chat-message .consumable-embed figure header.traits tags[readonly],
.chat-message .container-embed figure header.traits tags[readonly],
.chat-message .effect-item-embed figure header.traits tags[readonly],
.chat-message .equipment-embed figure header.traits tags[readonly],
.chat-message .gear-embed figure header.traits tags[readonly],
.chat-message .perk-embed figure header.traits tags[readonly],
.chat-message .species-embed figure header.traits tags[readonly],
.chat-message .weapon-embed figure header.traits tags[readonly] {
  width: 100%;
  --tags-border-color: var(--color-light-6);
  --tag-bg: var(--color-light-4);
  --tag-pad: 1px 3px;
  --readonly-striped: 0;
  --tag-hover: var(--color-light-3);
  justify-content: center;
}
aside[role="tooltip"].attack figure header.traits tags[readonly] span.tagify__input,
.chat-message .move-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .effect-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .ability-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .consumable-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .container-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .effect-item-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .equipment-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .gear-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .perk-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .species-embed figure header.traits tags[readonly] span.tagify__input,
.chat-message .weapon-embed figure header.traits tags[readonly] span.tagify__input {
  display: none;
}
aside[role="tooltip"].attack figure header .dexNumber,
.chat-message .move-embed figure header .dexNumber,
.chat-message .effect-embed figure header .dexNumber,
.chat-message .ability-embed figure header .dexNumber,
.chat-message .consumable-embed figure header .dexNumber,
.chat-message .container-embed figure header .dexNumber,
.chat-message .effect-item-embed figure header .dexNumber,
.chat-message .equipment-embed figure header .dexNumber,
.chat-message .gear-embed figure header .dexNumber,
.chat-message .perk-embed figure header .dexNumber,
.chat-message .species-embed figure header .dexNumber,
.chat-message .weapon-embed figure header .dexNumber {
  font-size: smaller;
  color: #6b6b6b;
}
aside[role="tooltip"].attack figure aside img,
.chat-message .move-embed figure aside img,
.chat-message .effect-embed figure aside img,
.chat-message .ability-embed figure aside img,
.chat-message .consumable-embed figure aside img,
.chat-message .container-embed figure aside img,
.chat-message .effect-item-embed figure aside img,
.chat-message .equipment-embed figure aside img,
.chat-message .gear-embed figure aside img,
.chat-message .perk-embed figure aside img,
.chat-message .species-embed figure aside img,
.chat-message .weapon-embed figure aside img {
  border: unset;
  border-radius: 50%;
}
aside[role="tooltip"].attack figure content.attack-embed,
.chat-message .move-embed figure content.attack-embed,
.chat-message .effect-embed figure content.attack-embed,
.chat-message .ability-embed figure content.attack-embed,
.chat-message .consumable-embed figure content.attack-embed,
.chat-message .container-embed figure content.attack-embed,
.chat-message .effect-item-embed figure content.attack-embed,
.chat-message .equipment-embed figure content.attack-embed,
.chat-message .gear-embed figure content.attack-embed,
.chat-message .perk-embed figure content.attack-embed,
.chat-message .species-embed figure content.attack-embed,
.chat-message .weapon-embed figure content.attack-embed {
  font-size: 15px;
}
aside[role="tooltip"].attack figure content.attack-embed section.attack-info,
.chat-message .move-embed figure content.attack-embed section.attack-info,
.chat-message .effect-embed figure content.attack-embed section.attack-info,
.chat-message .ability-embed figure content.attack-embed section.attack-info,
.chat-message .consumable-embed figure content.attack-embed section.attack-info,
.chat-message .container-embed figure content.attack-embed section.attack-info,
.chat-message .effect-item-embed figure content.attack-embed section.attack-info,
.chat-message .equipment-embed figure content.attack-embed section.attack-info,
.chat-message .gear-embed figure content.attack-embed section.attack-info,
.chat-message .perk-embed figure content.attack-embed section.attack-info,
.chat-message .species-embed figure content.attack-embed section.attack-info,
.chat-message .weapon-embed figure content.attack-embed section.attack-info {
  grid-template-areas: "basic" "range" "cost";
}
aside[role="tooltip"].attack figure content.attack-embed fieldset article,
.chat-message .move-embed figure content.attack-embed fieldset article,
.chat-message .effect-embed figure content.attack-embed fieldset article,
.chat-message .ability-embed figure content.attack-embed fieldset article,
.chat-message .consumable-embed figure content.attack-embed fieldset article,
.chat-message .container-embed figure content.attack-embed fieldset article,
.chat-message .effect-item-embed figure content.attack-embed fieldset article,
.chat-message .equipment-embed figure content.attack-embed fieldset article,
.chat-message .gear-embed figure content.attack-embed fieldset article,
.chat-message .perk-embed figure content.attack-embed fieldset article,
.chat-message .species-embed figure content.attack-embed fieldset article,
.chat-message .weapon-embed figure content.attack-embed fieldset article {
  line-height: 1.3;
  line-break: pre-wrap;
}
aside[role="tooltip"].attack figure content.item-embed,
.chat-message .move-embed figure content.item-embed,
.chat-message .effect-embed figure content.item-embed,
.chat-message .ability-embed figure content.item-embed,
.chat-message .consumable-embed figure content.item-embed,
.chat-message .container-embed figure content.item-embed,
.chat-message .effect-item-embed figure content.item-embed,
.chat-message .equipment-embed figure content.item-embed,
.chat-message .gear-embed figure content.item-embed,
.chat-message .perk-embed figure content.item-embed,
.chat-message .species-embed figure content.item-embed,
.chat-message .weapon-embed figure content.item-embed,
aside[role="tooltip"].attack figure content.effect-embed,
.chat-message .move-embed figure content.effect-embed,
.chat-message .effect-embed figure content.effect-embed,
.chat-message .ability-embed figure content.effect-embed,
.chat-message .consumable-embed figure content.effect-embed,
.chat-message .container-embed figure content.effect-embed,
.chat-message .effect-item-embed figure content.effect-embed,
.chat-message .equipment-embed figure content.effect-embed,
.chat-message .gear-embed figure content.effect-embed,
.chat-message .perk-embed figure content.effect-embed,
.chat-message .species-embed figure content.effect-embed,
.chat-message .weapon-embed figure content.effect-embed {
  all: unset;
}
aside[role="tooltip"].attack figure content.item-embed section.details,
.chat-message .move-embed figure content.item-embed section.details,
.chat-message .effect-embed figure content.item-embed section.details,
.chat-message .ability-embed figure content.item-embed section.details,
.chat-message .consumable-embed figure content.item-embed section.details,
.chat-message .container-embed figure content.item-embed section.details,
.chat-message .effect-item-embed figure content.item-embed section.details,
.chat-message .equipment-embed figure content.item-embed section.details,
.chat-message .gear-embed figure content.item-embed section.details,
.chat-message .perk-embed figure content.item-embed section.details,
.chat-message .species-embed figure content.item-embed section.details,
.chat-message .weapon-embed figure content.item-embed section.details,
aside[role="tooltip"].attack figure content.effect-embed section.details,
.chat-message .move-embed figure content.effect-embed section.details,
.chat-message .effect-embed figure content.effect-embed section.details,
.chat-message .ability-embed figure content.effect-embed section.details,
.chat-message .consumable-embed figure content.effect-embed section.details,
.chat-message .container-embed figure content.effect-embed section.details,
.chat-message .effect-item-embed figure content.effect-embed section.details,
.chat-message .equipment-embed figure content.effect-embed section.details,
.chat-message .gear-embed figure content.effect-embed section.details,
.chat-message .perk-embed figure content.effect-embed section.details,
.chat-message .species-embed figure content.effect-embed section.details,
.chat-message .weapon-embed figure content.effect-embed section.details {
  display: flex;
  flex-direction: column;
}
aside[role="tooltip"].attack figure content.item-embed .details fieldset,
.chat-message .move-embed figure content.item-embed .details fieldset,
.chat-message .effect-embed figure content.item-embed .details fieldset,
.chat-message .ability-embed figure content.item-embed .details fieldset,
.chat-message .consumable-embed figure content.item-embed .details fieldset,
.chat-message .container-embed figure content.item-embed .details fieldset,
.chat-message .effect-item-embed figure content.item-embed .details fieldset,
.chat-message .equipment-embed figure content.item-embed .details fieldset,
.chat-message .gear-embed figure content.item-embed .details fieldset,
.chat-message .perk-embed figure content.item-embed .details fieldset,
.chat-message .species-embed figure content.item-embed .details fieldset,
.chat-message .weapon-embed figure content.item-embed .details fieldset,
aside[role="tooltip"].attack figure content.effect-embed .details fieldset,
.chat-message .move-embed figure content.effect-embed .details fieldset,
.chat-message .effect-embed figure content.effect-embed .details fieldset,
.chat-message .ability-embed figure content.effect-embed .details fieldset,
.chat-message .consumable-embed figure content.effect-embed .details fieldset,
.chat-message .container-embed figure content.effect-embed .details fieldset,
.chat-message .effect-item-embed figure content.effect-embed .details fieldset,
.chat-message .equipment-embed figure content.effect-embed .details fieldset,
.chat-message .gear-embed figure content.effect-embed .details fieldset,
.chat-message .perk-embed figure content.effect-embed .details fieldset,
.chat-message .species-embed figure content.effect-embed .details fieldset,
.chat-message .weapon-embed figure content.effect-embed .details fieldset {
  display: grid !important;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 17px;
  gap: 0.25rem !important;
  padding: 0.25rem !important;
  border: 1px solid var(--color-light-6);
  border-radius: 8px;
  margin-bottom: 0.5rem !important;
}
aside[role="tooltip"].attack figure content.item-embed .details fieldset label,
.chat-message .move-embed figure content.item-embed .details fieldset label,
.chat-message .effect-embed figure content.item-embed .details fieldset label,
.chat-message .ability-embed figure content.item-embed .details fieldset label,
.chat-message .consumable-embed figure content.item-embed .details fieldset label,
.chat-message .container-embed figure content.item-embed .details fieldset label,
.chat-message .effect-item-embed figure content.item-embed .details fieldset label,
.chat-message .equipment-embed figure content.item-embed .details fieldset label,
.chat-message .gear-embed figure content.item-embed .details fieldset label,
.chat-message .perk-embed figure content.item-embed .details fieldset label,
.chat-message .species-embed figure content.item-embed .details fieldset label,
.chat-message .weapon-embed figure content.item-embed .details fieldset label,
aside[role="tooltip"].attack figure content.effect-embed .details fieldset label,
.chat-message .move-embed figure content.effect-embed .details fieldset label,
.chat-message .effect-embed figure content.effect-embed .details fieldset label,
.chat-message .ability-embed figure content.effect-embed .details fieldset label,
.chat-message .consumable-embed figure content.effect-embed .details fieldset label,
.chat-message .container-embed figure content.effect-embed .details fieldset label,
.chat-message .effect-item-embed figure content.effect-embed .details fieldset label,
.chat-message .equipment-embed figure content.effect-embed .details fieldset label,
.chat-message .gear-embed figure content.effect-embed .details fieldset label,
.chat-message .perk-embed figure content.effect-embed .details fieldset label,
.chat-message .species-embed figure content.effect-embed .details fieldset label,
.chat-message .weapon-embed figure content.effect-embed .details fieldset label {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
aside[role="tooltip"].attack figure content.item-embed .details fieldset label + span,
.chat-message .move-embed figure content.item-embed .details fieldset label + span,
.chat-message .effect-embed figure content.item-embed .details fieldset label + span,
.chat-message .ability-embed figure content.item-embed .details fieldset label + span,
.chat-message .consumable-embed figure content.item-embed .details fieldset label + span,
.chat-message .container-embed figure content.item-embed .details fieldset label + span,
.chat-message .effect-item-embed figure content.item-embed .details fieldset label + span,
.chat-message .equipment-embed figure content.item-embed .details fieldset label + span,
.chat-message .gear-embed figure content.item-embed .details fieldset label + span,
.chat-message .perk-embed figure content.item-embed .details fieldset label + span,
.chat-message .species-embed figure content.item-embed .details fieldset label + span,
.chat-message .weapon-embed figure content.item-embed .details fieldset label + span,
aside[role="tooltip"].attack figure content.effect-embed .details fieldset label + span,
.chat-message .move-embed figure content.effect-embed .details fieldset label + span,
.chat-message .effect-embed figure content.effect-embed .details fieldset label + span,
.chat-message .ability-embed figure content.effect-embed .details fieldset label + span,
.chat-message .consumable-embed figure content.effect-embed .details fieldset label + span,
.chat-message .container-embed figure content.effect-embed .details fieldset label + span,
.chat-message .effect-item-embed figure content.effect-embed .details fieldset label + span,
.chat-message .equipment-embed figure content.effect-embed .details fieldset label + span,
.chat-message .gear-embed figure content.effect-embed .details fieldset label + span,
.chat-message .perk-embed figure content.effect-embed .details fieldset label + span,
.chat-message .species-embed figure content.effect-embed .details fieldset label + span,
.chat-message .weapon-embed figure content.effect-embed .details fieldset label + span {
  margin-left: 0.25rem;
}
aside[role="tooltip"].attack figure content.item-embed .details fieldset article,
.chat-message .move-embed figure content.item-embed .details fieldset article,
.chat-message .effect-embed figure content.item-embed .details fieldset article,
.chat-message .ability-embed figure content.item-embed .details fieldset article,
.chat-message .consumable-embed figure content.item-embed .details fieldset article,
.chat-message .container-embed figure content.item-embed .details fieldset article,
.chat-message .effect-item-embed figure content.item-embed .details fieldset article,
.chat-message .equipment-embed figure content.item-embed .details fieldset article,
.chat-message .gear-embed figure content.item-embed .details fieldset article,
.chat-message .perk-embed figure content.item-embed .details fieldset article,
.chat-message .species-embed figure content.item-embed .details fieldset article,
.chat-message .weapon-embed figure content.item-embed .details fieldset article,
aside[role="tooltip"].attack figure content.effect-embed .details fieldset article,
.chat-message .move-embed figure content.effect-embed .details fieldset article,
.chat-message .effect-embed figure content.effect-embed .details fieldset article,
.chat-message .ability-embed figure content.effect-embed .details fieldset article,
.chat-message .consumable-embed figure content.effect-embed .details fieldset article,
.chat-message .container-embed figure content.effect-embed .details fieldset article,
.chat-message .effect-item-embed figure content.effect-embed .details fieldset article,
.chat-message .equipment-embed figure content.effect-embed .details fieldset article,
.chat-message .gear-embed figure content.effect-embed .details fieldset article,
.chat-message .perk-embed figure content.effect-embed .details fieldset article,
.chat-message .species-embed figure content.effect-embed .details fieldset article,
.chat-message .weapon-embed figure content.effect-embed .details fieldset article {
  line-height: 1.3;
  line-break: pre-wrap;
}
.chat-message .message-content > figure.content-embed:only-child {
  margin: 0 0 0.5rem 0;
}
.chat-message .move-embed,
.chat-message .effect-embed,
.chat-message .ability-embed,
.chat-message .consumable-embed,
.chat-message .container-embed,
.chat-message .effect-item-embed,
.chat-message .equipment-embed,
.chat-message .gear-embed,
.chat-message .perk-embed,
.chat-message .species-embed,
.chat-message .weapon-embed {
  padding: 0.5rem;
  border: 1px solid var(--color-light-6);
  border-radius: 8px;
  background-color: color-mix(in srgb, var(--color-light-3) 80%, transparent);
}
.chat-message .move-embed > figure,
.chat-message .effect-embed > figure,
.chat-message .ability-embed > figure,
.chat-message .consumable-embed > figure,
.chat-message .container-embed > figure,
.chat-message .effect-item-embed > figure,
.chat-message .equipment-embed > figure,
.chat-message .gear-embed > figure,
.chat-message .perk-embed > figure,
.chat-message .species-embed > figure,
.chat-message .weapon-embed > figure {
  margin: 0;
}
.chat-message .move-embed tags,
.chat-message .effect-embed tags,
.chat-message .ability-embed tags,
.chat-message .consumable-embed tags,
.chat-message .container-embed tags,
.chat-message .effect-item-embed tags,
.chat-message .equipment-embed tags,
.chat-message .gear-embed tags,
.chat-message .perk-embed tags,
.chat-message .species-embed tags,
.chat-message .weapon-embed tags {
  border-radius: 8px;
  background-color: var(--color-light-2);
}
.chat-message .move-embed .attack-description fieldset,
.chat-message .effect-embed .attack-description fieldset,
.chat-message .ability-embed .attack-description fieldset,
.chat-message .consumable-embed .attack-description fieldset,
.chat-message .container-embed .attack-description fieldset,
.chat-message .effect-item-embed .attack-description fieldset,
.chat-message .equipment-embed .attack-description fieldset,
.chat-message .gear-embed .attack-description fieldset,
.chat-message .perk-embed .attack-description fieldset,
.chat-message .species-embed .attack-description fieldset,
.chat-message .weapon-embed .attack-description fieldset,
.chat-message .move-embed .item-description fieldset,
.chat-message .effect-embed .item-description fieldset,
.chat-message .ability-embed .item-description fieldset,
.chat-message .consumable-embed .item-description fieldset,
.chat-message .container-embed .item-description fieldset,
.chat-message .effect-item-embed .item-description fieldset,
.chat-message .equipment-embed .item-description fieldset,
.chat-message .gear-embed .item-description fieldset,
.chat-message .perk-embed .item-description fieldset,
.chat-message .species-embed .item-description fieldset,
.chat-message .weapon-embed .item-description fieldset,
.chat-message .move-embed .effect-description fieldset,
.chat-message .effect-embed .effect-description fieldset,
.chat-message .ability-embed .effect-description fieldset,
.chat-message .consumable-embed .effect-description fieldset,
.chat-message .container-embed .effect-description fieldset,
.chat-message .effect-item-embed .effect-description fieldset,
.chat-message .equipment-embed .effect-description fieldset,
.chat-message .gear-embed .effect-description fieldset,
.chat-message .perk-embed .effect-description fieldset,
.chat-message .species-embed .effect-description fieldset,
.chat-message .weapon-embed .effect-description fieldset {
  background: var(--color-light-2);
}
.chat-message .move-embed fieldset,
.chat-message .effect-embed fieldset,
.chat-message .ability-embed fieldset,
.chat-message .consumable-embed fieldset,
.chat-message .container-embed fieldset,
.chat-message .effect-item-embed fieldset,
.chat-message .equipment-embed fieldset,
.chat-message .gear-embed fieldset,
.chat-message .perk-embed fieldset,
.chat-message .species-embed fieldset,
.chat-message .weapon-embed fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
}
.chat-message .move-embed fieldset legend,
.chat-message .effect-embed fieldset legend,
.chat-message .ability-embed fieldset legend,
.chat-message .consumable-embed fieldset legend,
.chat-message .container-embed fieldset legend,
.chat-message .effect-item-embed fieldset legend,
.chat-message .equipment-embed fieldset legend,
.chat-message .gear-embed fieldset legend,
.chat-message .perk-embed fieldset legend,
.chat-message .species-embed fieldset legend,
.chat-message .weapon-embed fieldset legend {
  font-weight: bold;
}
.chat-message .move-embed fieldset .effect-description,
.chat-message .effect-embed fieldset .effect-description,
.chat-message .ability-embed fieldset .effect-description,
.chat-message .consumable-embed fieldset .effect-description,
.chat-message .container-embed fieldset .effect-description,
.chat-message .effect-item-embed fieldset .effect-description,
.chat-message .equipment-embed fieldset .effect-description,
.chat-message .gear-embed fieldset .effect-description,
.chat-message .perk-embed fieldset .effect-description,
.chat-message .species-embed fieldset .effect-description,
.chat-message .weapon-embed fieldset .effect-description {
  white-space: pre-line;
  word-break: break-word;
}
.chat-message .move-embed content.species-embed,
.chat-message .effect-embed content.species-embed,
.chat-message .ability-embed content.species-embed,
.chat-message .consumable-embed content.species-embed,
.chat-message .container-embed content.species-embed,
.chat-message .effect-item-embed content.species-embed,
.chat-message .equipment-embed content.species-embed,
.chat-message .gear-embed content.species-embed,
.chat-message .perk-embed content.species-embed,
.chat-message .species-embed content.species-embed,
.chat-message .weapon-embed content.species-embed,
.chat-message .move-embed content.perk-embed,
.chat-message .effect-embed content.perk-embed,
.chat-message .ability-embed content.perk-embed,
.chat-message .consumable-embed content.perk-embed,
.chat-message .container-embed content.perk-embed,
.chat-message .effect-item-embed content.perk-embed,
.chat-message .equipment-embed content.perk-embed,
.chat-message .gear-embed content.perk-embed,
.chat-message .perk-embed content.perk-embed,
.chat-message .species-embed content.perk-embed,
.chat-message .weapon-embed content.perk-embed {
  display: block;
  border: unset;
  background: unset;
}
.chat-message .move-embed content.species-embed section,
.chat-message .effect-embed content.species-embed section,
.chat-message .ability-embed content.species-embed section,
.chat-message .consumable-embed content.species-embed section,
.chat-message .container-embed content.species-embed section,
.chat-message .effect-item-embed content.species-embed section,
.chat-message .equipment-embed content.species-embed section,
.chat-message .gear-embed content.species-embed section,
.chat-message .perk-embed content.species-embed section,
.chat-message .species-embed content.species-embed section,
.chat-message .weapon-embed content.species-embed section,
.chat-message .move-embed content.perk-embed section,
.chat-message .effect-embed content.perk-embed section,
.chat-message .ability-embed content.perk-embed section,
.chat-message .consumable-embed content.perk-embed section,
.chat-message .container-embed content.perk-embed section,
.chat-message .effect-item-embed content.perk-embed section,
.chat-message .equipment-embed content.perk-embed section,
.chat-message .gear-embed content.perk-embed section,
.chat-message .perk-embed content.perk-embed section,
.chat-message .species-embed content.perk-embed section,
.chat-message .weapon-embed content.perk-embed section {
  margin-bottom: 0.5rem;
}
.chat-message .move-embed content.species-embed section:last-child,
.chat-message .effect-embed content.species-embed section:last-child,
.chat-message .ability-embed content.species-embed section:last-child,
.chat-message .consumable-embed content.species-embed section:last-child,
.chat-message .container-embed content.species-embed section:last-child,
.chat-message .effect-item-embed content.species-embed section:last-child,
.chat-message .equipment-embed content.species-embed section:last-child,
.chat-message .gear-embed content.species-embed section:last-child,
.chat-message .perk-embed content.species-embed section:last-child,
.chat-message .species-embed content.species-embed section:last-child,
.chat-message .weapon-embed content.species-embed section:last-child,
.chat-message .move-embed content.perk-embed section:last-child,
.chat-message .effect-embed content.perk-embed section:last-child,
.chat-message .ability-embed content.perk-embed section:last-child,
.chat-message .consumable-embed content.perk-embed section:last-child,
.chat-message .container-embed content.perk-embed section:last-child,
.chat-message .effect-item-embed content.perk-embed section:last-child,
.chat-message .equipment-embed content.perk-embed section:last-child,
.chat-message .gear-embed content.perk-embed section:last-child,
.chat-message .perk-embed content.perk-embed section:last-child,
.chat-message .species-embed content.perk-embed section:last-child,
.chat-message .weapon-embed content.perk-embed section:last-child {
  margin-bottom: unset;
}
.chat-message .move-embed content.species-embed fieldset,
.chat-message .effect-embed content.species-embed fieldset,
.chat-message .ability-embed content.species-embed fieldset,
.chat-message .consumable-embed content.species-embed fieldset,
.chat-message .container-embed content.species-embed fieldset,
.chat-message .effect-item-embed content.species-embed fieldset,
.chat-message .equipment-embed content.species-embed fieldset,
.chat-message .gear-embed content.species-embed fieldset,
.chat-message .perk-embed content.species-embed fieldset,
.chat-message .species-embed content.species-embed fieldset,
.chat-message .weapon-embed content.species-embed fieldset,
.chat-message .move-embed content.perk-embed fieldset,
.chat-message .effect-embed content.perk-embed fieldset,
.chat-message .ability-embed content.perk-embed fieldset,
.chat-message .consumable-embed content.perk-embed fieldset,
.chat-message .container-embed content.perk-embed fieldset,
.chat-message .effect-item-embed content.perk-embed fieldset,
.chat-message .equipment-embed content.perk-embed fieldset,
.chat-message .gear-embed content.perk-embed fieldset,
.chat-message .perk-embed content.perk-embed fieldset,
.chat-message .species-embed content.perk-embed fieldset,
.chat-message .weapon-embed content.perk-embed fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
  background: #efe6d8;
}
.chat-message .move-embed content.species-embed fieldset label,
.chat-message .effect-embed content.species-embed fieldset label,
.chat-message .ability-embed content.species-embed fieldset label,
.chat-message .consumable-embed content.species-embed fieldset label,
.chat-message .container-embed content.species-embed fieldset label,
.chat-message .effect-item-embed content.species-embed fieldset label,
.chat-message .equipment-embed content.species-embed fieldset label,
.chat-message .gear-embed content.species-embed fieldset label,
.chat-message .perk-embed content.species-embed fieldset label,
.chat-message .species-embed content.species-embed fieldset label,
.chat-message .weapon-embed content.species-embed fieldset label,
.chat-message .move-embed content.perk-embed fieldset label,
.chat-message .effect-embed content.perk-embed fieldset label,
.chat-message .ability-embed content.perk-embed fieldset label,
.chat-message .consumable-embed content.perk-embed fieldset label,
.chat-message .container-embed content.perk-embed fieldset label,
.chat-message .effect-item-embed content.perk-embed fieldset label,
.chat-message .equipment-embed content.perk-embed fieldset label,
.chat-message .gear-embed content.perk-embed fieldset label,
.chat-message .perk-embed content.perk-embed fieldset label,
.chat-message .species-embed content.perk-embed fieldset label,
.chat-message .weapon-embed content.perk-embed fieldset label {
  font-weight: bold;
}
.chat-message .move-embed content.species-embed fieldset span,
.chat-message .effect-embed content.species-embed fieldset span,
.chat-message .ability-embed content.species-embed fieldset span,
.chat-message .consumable-embed content.species-embed fieldset span,
.chat-message .container-embed content.species-embed fieldset span,
.chat-message .effect-item-embed content.species-embed fieldset span,
.chat-message .equipment-embed content.species-embed fieldset span,
.chat-message .gear-embed content.species-embed fieldset span,
.chat-message .perk-embed content.species-embed fieldset span,
.chat-message .species-embed content.species-embed fieldset span,
.chat-message .weapon-embed content.species-embed fieldset span,
.chat-message .move-embed content.perk-embed fieldset span,
.chat-message .effect-embed content.perk-embed fieldset span,
.chat-message .ability-embed content.perk-embed fieldset span,
.chat-message .consumable-embed content.perk-embed fieldset span,
.chat-message .container-embed content.perk-embed fieldset span,
.chat-message .effect-item-embed content.perk-embed fieldset span,
.chat-message .equipment-embed content.perk-embed fieldset span,
.chat-message .gear-embed content.perk-embed fieldset span,
.chat-message .perk-embed content.perk-embed fieldset span,
.chat-message .species-embed content.perk-embed fieldset span,
.chat-message .weapon-embed content.perk-embed fieldset span {
  text-align: center;
}
.chat-message .move-embed content.species-embed main,
.chat-message .effect-embed content.species-embed main,
.chat-message .ability-embed content.species-embed main,
.chat-message .consumable-embed content.species-embed main,
.chat-message .container-embed content.species-embed main,
.chat-message .effect-item-embed content.species-embed main,
.chat-message .equipment-embed content.species-embed main,
.chat-message .gear-embed content.species-embed main,
.chat-message .perk-embed content.species-embed main,
.chat-message .species-embed content.species-embed main,
.chat-message .weapon-embed content.species-embed main {
  grid-template-areas: "stats" "primary-movement" "secondary-movement";
}
content.perk-embed .perk-info fieldset {
  text-align: left;
}
content.perk-embed .perk-info fieldset .cost-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 17px;
  gap: 0.25rem;
  padding: 0.25rem;
  margin-bottom: unset;
}
content.perk-embed .perk-info fieldset .cost-row label {
  font-weight: bold;
}
content.perk-embed .perk-info fieldset .cost-row span {
  text-align: center;
}
content.perk-embed .perk-info fieldset.prereqs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
content.perk-embed .perk-info fieldset.prereqs ul {
  margin: 0;
}
content.perk-embed .perk-info fieldset.prereqs ul:has(.none) {
  margin: unset;
  padding: unset;
}
content.perk-embed .perk-info fieldset.prereqs li {
  text-align: left;
}
content.perk-embed .perk-info fieldset.prereqs li.none {
  text-align: center;
  font-size: smaller;
  color: #6b6b6b;
  list-style: none;
  font-style: italic;
}
content.species-embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
content.species-embed aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem;
  gap: 5px;
}
content.species-embed aside img {
  border: unset;
  border-radius: 50%;
}
content.species-embed main {
  flex: 1 0 auto;
  margin: 0 0.25rem;
  display: grid;
  grid-template-areas: "stats primary-movement" "stats secondary-movement";
}
content.species-embed main section.species-basestats {
  grid-area: stats;
}
content.species-embed main section.species-primary-movement {
  grid-area: primary-movement;
}
content.species-embed main section.species-secondary-movement {
  grid-area: secondary-movement;
}
content.species-embed main section fieldset {
  display: grid !important;
  grid-template-columns: 70% 30%;
  grid-auto-rows: 17px;
  gap: 0.25rem;
  height: 100%;
}
content.attack-embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
content.attack-embed aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem;
  gap: 5px;
}
content.attack-embed aside img {
  border: unset;
  border-radius: 50%;
}
content.attack-embed main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0.25rem;
}
content.attack-embed main section.attack-info {
  display: grid;
  grid-template-areas: "basic cost" "range cost";
}
content.attack-embed main section.attack-info fieldset {
  display: grid !important;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 17px;
  gap: 0.25rem !important;
  padding: 0.25rem !important;
  border: unset;
  margin-bottom: unset !important;
}
content.attack-embed main section.attack-info fieldset.basic {
  grid-area: basic;
}
content.attack-embed main section.attack-info fieldset.range {
  grid-area: range;
}
content.attack-embed main section.attack-info fieldset.cost {
  grid-area: cost;
}
content.attack-embed main section.attack-info fieldset label {
  font-weight: bold;
}
content.attack-embed main section.attack-description {
  margin-top: 1rem;
}
content.attack-embed main section.attack-description article {
  min-height: 50px;
}
