[role="tooltip"].attack,
.embed.move-embed.attack,
[role="tooltip"] .attack,
.embed.move-embed .attack {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: #121212;
  border-radius: 10px !important;
  margin: 0.25rem !important;
  padding: 0.25rem !important;
  min-width: 200px;
  color: #efefef;
}
[role="tooltip"].attack h3,
.embed.move-embed.attack h3,
[role="tooltip"] .attack h3,
.embed.move-embed .attack h3 {
  border-bottom: 1px solid #fefefeaa;
  margin: 0.25rem 0;
  padding-bottom: 0.25rem;
  text-align: center;
}
[role="tooltip"].attack div.d-flex,
.embed.move-embed.attack div.d-flex,
[role="tooltip"] .attack div.d-flex,
.embed.move-embed .attack div.d-flex {
  justify-content: space-between;
  text-align: center;
}
[role="tooltip"].attack label,
.embed.move-embed.attack label,
[role="tooltip"] .attack label,
.embed.move-embed .attack label {
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: bold;
  flex: 0 0 45%;
}
[role="tooltip"].attack span,
.embed.move-embed.attack span,
[role="tooltip"] .attack span,
.embed.move-embed .attack span {
  font-size: 14px;
  text-wrap: nowrap;
  flex: 0 0 45%;
}
[role="tooltip"].attack content,
.embed.move-embed.attack content,
[role="tooltip"] .attack content,
.embed.move-embed .attack content {
  display: flex;
  min-height: 40px;
  width: 100%;
  padding-top: 0.25rem;
  border-top: 1px solid #fefefeaa;
}
[role="tooltip"].attack content.no-effect,
.embed.move-embed.attack content.no-effect,
[role="tooltip"] .attack content.no-effect,
.embed.move-embed .attack content.no-effect {
  justify-content: center;
}
[role="tooltip"].attack content i.small,
.embed.move-embed.attack content i.small,
[role="tooltip"] .attack content i.small,
.embed.move-embed .attack content i.small {
  font-size: 11px;
  color: lightgray;
  align-self: center;
  text-align: center;
}
