body {
  --normal-color: #919AA2;
  --fighting-color: #CE416B;
  --flying-color: #8FA9DE;
  --poison-color: #AA6BC8;
  --ground-color: #D97845;
  --rock-color: #C5B78C;
  --bug-color: #91C12F;
  --ghost-color: #5269AD;
  --steel-color: #5A8EA2;
  --fire-color: #FF9D55;
  --water-color: #5090D6;
  --grass-color: #63BC5A;
  --electric-color: #F4D23C;
  --psychic-color: #FA7179;
  --ice-color: #73CEC0;
  --dragon-color: #0B6DC3;
  --dark-color: #5A5465;
  --fairy-color: #EC8FE6;
  --nuclear-color: #19FF00;
  --shadow-color: #222224;
  --untyped-color: #919AA2;
  --physical-color: #ce2918;
  --special-color: #5a637b;
  --status-color: #969296;
}
img[src$="normal_icon.svg"] {
  background: var(--normal-color) !important;
}
img[src$="fighting_icon.svg"] {
  background: var(--fighting-color) !important;
}
img[src$="flying_icon.svg"] {
  background: var(--flying-color) !important;
}
img[src$="poison_icon.svg"] {
  background: var(--poison-color) !important;
}
img[src$="ground_icon.svg"] {
  background: var(--ground-color) !important;
}
img[src$="rock_icon.svg"] {
  background: var(--rock-color) !important;
}
img[src$="bug_icon.svg"] {
  background: var(--bug-color) !important;
}
img[src$="ghost_icon.svg"] {
  background: var(--ghost-color) !important;
}
img[src$="steel_icon.svg"] {
  background: var(--steel-color) !important;
}
img[src$="fire_icon.svg"] {
  background: var(--fire-color) !important;
}
img[src$="water_icon.svg"] {
  background: var(--water-color) !important;
}
img[src$="grass_icon.svg"] {
  background: var(--grass-color) !important;
}
img[src$="electric_icon.svg"] {
  background: var(--electric-color) !important;
}
img[src$="psychic_icon.svg"] {
  background: var(--psychic-color) !important;
}
img[src$="ice_icon.svg"] {
  background: var(--ice-color) !important;
}
img[src$="dragon_icon.svg"] {
  background: var(--dragon-color) !important;
}
img[src$="dark_icon.svg"] {
  background: var(--dark-color) !important;
}
img[src$="fairy_icon.svg"] {
  background: var(--fairy-color) !important;
}
img[src$="nuclear_icon.svg"] {
  background: var(--nuclear-color) !important;
}
img[src$="shadow_icon.svg"] {
  background: var(--shadow-color) !important;
}
img[src$="untyped_icon.svg"] {
  background: var(--untyped-color) !important;
}
