img {
    &[src$="normal_icon.svg"] {
        background: var(--normal-color) !important;
    }

    &[src$="fighting_icon.svg"] {
        background: var(--fighting-color) !important;
    }

    &[src$="flying_icon.svg"] {
        background: var(--flying-color) !important;
    }

    &[src$="poison_icon.svg"] {
        background: var(--poison-color) !important;
    }

    &[src$="ground_icon.svg"] {
        background: var(--ground-color) !important;
    }

    &[src$="rock_icon.svg"] {
        background: var(--rock-color) !important;
    }

    &[src$="bug_icon.svg"] {
        background: var(--bug-color) !important;
    }

    &[src$="ghost_icon.svg"] {
        background: var(--ghost-color) !important;
    }

    &[src$="steel_icon.svg"] {
        background: var(--steel-color) !important;
    }

    &[src$="fire_icon.svg"] {
        background: var(--fire-color) !important;
    }

    &[src$="water_icon.svg"] {
        background: var(--water-color) !important;
    }

    &[src$="grass_icon.svg"] {
        background: var(--grass-color) !important;
    }

    &[src$="electric_icon.svg"] {
        background: var(--electric-color) !important;
    }

    &[src$="psychic_icon.svg"] {
        background: var(--psychic-color) !important;
    }

    &[src$="ice_icon.svg"] {
        background: var(--ice-color) !important;
    }

    &[src$="dragon_icon.svg"] {
        background: var(--dragon-color) !important;
    }

    &[src$="dark_icon.svg"] {
        background: var(--dark-color) !important;
    }

    &[src$="fairy_icon.svg"] {
        background: var(--fairy-color) !important;
    }

    &[src$="nuclear_icon.svg"] {
        background: var(--nuclear-color) !important;
    }

    &[src$="shadow_icon.svg"] {
        background: var(--shadow-color) !important;
    }

    &[src$="untyped_icon.svg"] {
        background: var(--untyped-color) !important;
    }
}