@import "tagify.css";
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 100% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.mh-100 {
  max-height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.center-text {
  text-align: center;
}
.center-self {
  align-self: center;
}
.lh-16 {
  line-height: 16px;
}
.d-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-row {
  flex-direction: row;
}
.flex-col,
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.fb-10 {
  flex-basis: 10%;
}
.fb-15 {
  flex-basis: 15%;
}
.fb-20 {
  flex-basis: 20%;
}
.fb-25 {
  flex-basis: 25%;
}
.fb-30 {
  flex-basis: 30%;
}
.fb-33 {
  flex-basis: 33%;
}
.fb-35 {
  flex-basis: 35%;
}
.fb-40 {
  flex-basis: 40%;
}
.fb-45 {
  flex-basis: 45%;
}
.fb-48 {
  flex-basis: 48%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-55 {
  flex-basis: 55%;
}
.fb-60 {
  flex-basis: 60%;
}
.fb-65 {
  flex-basis: 65%;
}
.fb-70 {
  flex-basis: 70%;
}
.fb-75 {
  flex-basis: 75%;
}
.fb-80 {
  flex-basis: 80%;
}
.fb-85 {
  flex-basis: 85%;
}
.fb-90 {
  flex-basis: 90%;
}
.fb-95 {
  flex-basis: 95%;
}
.fb-100 {
  flex-basis: 100%;
}
.g-1 {
  gap: 1px;
}
.g-2 {
  gap: 2px;
}
.g-3 {
  gap: 3px;
}
.g-4 {
  gap: 4px;
}
.g-5 {
  gap: 5px;
}
.g-6 {
  gap: 6px;
}
.g-7 {
  gap: 7px;
}
.g-8 {
  gap: 8px;
}
.g-9 {
  gap: 9px;
}
.g-10 {
  gap: 10px;
}
.gcs-1 {
  grid-column-start: 1;
}
.gcs-2 {
  grid-column-start: 2;
}
.gcs-3 {
  grid-column-start: 3;
}
.gcs-4 {
  grid-column-start: 4;
}
.gcs-5 {
  grid-column-start: 5;
}
.gcs-6 {
  grid-column-start: 6;
}
.grs-1 {
  grid-row-start: 1;
}
.grs-2 {
  grid-row-start: 2;
}
.grs-3 {
  grid-row-start: 3;
}
.grs-4 {
  grid-row-start: 4;
}
.grs-5 {
  grid-row-start: 5;
}
.grs-6 {
  grid-row-start: 6;
}
.gce-2 {
  grid-column-end: 2;
}
.gce-3 {
  grid-column-end: 3;
}
.gce-4 {
  grid-column-end: 4;
}
.gce-5 {
  grid-column-end: 5;
}
.gce-6 {
  grid-column-end: 6;
}
.gce-7 {
  grid-column-end: 7;
}
.gre-2 {
  grid-row-end: 2;
}
.gre-3 {
  grid-row-end: 3;
}
.gre-4 {
  grid-row-end: 4;
}
.gre-5 {
  grid-row-end: 5;
}
.gre-6 {
  grid-row-end: 6;
}
.gre-7 {
  grid-row-end: 7;
}
.system-traits {
  --readonly-striped: 0 !important;
}
.ptr-trait {
  padding: 0.5rem;
  margin: 0.25rem;
  background: #e6e6e6aa;
  border-radius: 5px;
}
.ptr-trait:hover {
  background: #e6e6e6;
}
#perk-tree {
  position: absolute;
  z-index: calc(var(--z-index-window) - 1);
}
#perk-tree-controls {
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  pointer-events: none;
  z-index: calc(var(--z-index-tooltip) - 1);
}
#perk-tree-controls .hud {
  pointer-events: all;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 0.5rem;
  background: #111112;
  color: white;
  border-radius: 15px;
  gap: 0.25rem;
}
#perk-tree-controls .hud.editing {
  background: #851a1a;
}
aside[role="tooltip"] {
  min-width: 150px;
  background: linear-gradient(to right, rgba(7, 7, 10, 0.9), rgba(19, 17, 31, 0.95)) !important;
  border-color: var(--color-light-6) !important;
  border-radius: 8px !important;
}
aside[role="tooltip"] fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
}
aside[role="tooltip"].locked-tooltip,
aside[role="tooltip"].locked-tooltip * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border-color: var(--color-light-6);
}
aside[role="tooltip"].locked-tooltip .circular-progress,
aside[role="tooltip"].locked-tooltip * .circular-progress {
  animation: none;
  --progress: 100;
}
aside[role="tooltip"].locked-tooltip .circular-progress circle.fg,
aside[role="tooltip"].locked-tooltip * .circular-progress circle.fg {
  --stroke: var(--color-light-6);
}
aside[role="tooltip"].locked-tooltip .circular-progress circle.fgb,
aside[role="tooltip"].locked-tooltip * .circular-progress circle.fgb {
  stroke: var(--stroke);
}
aside[role="tooltip"] .progress-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 0 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside[role="tooltip"] .circular-progress {
  --size: 20px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 5px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  --stroke: var(--color-light-5);
  animation: progress-animation 2s ease-out 0s 1 forwards;
}
aside[role="tooltip"] .circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}
aside[role="tooltip"] .circular-progress circle.bg {
  stroke: #ddd;
}
aside[role="tooltip"] .circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: var(--stroke);
}
aside[role="tooltip"] .circular-progress circle.fgb {
  stroke-width: 4px;
}
@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}
aside[role="tooltip"].status header h3,
aside[role="tooltip"].damage header h3 {
  border-bottom: 1px solid #6f6c66;
  padding: 0.25rem;
  margin: 0;
}
aside[role="tooltip"].status main,
aside[role="tooltip"].damage main {
  display: flex;
  flex-direction: column;
}
aside[role="tooltip"].status main figure,
aside[role="tooltip"].damage main figure {
  margin: 0.1rem 0.25rem;
  border: 2px groove #6f6c66;
  padding: 0.25rem;
  text-align: center;
}
aside[role="tooltip"].status main figure code,
aside[role="tooltip"].damage main figure code {
  font-size: 0.8rem;
  word-wrap: pre-wrap;
}
aside[role="tooltip"].status main .form-group,
aside[role="tooltip"].damage main .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
  margin: 0.1rem 0.25rem;
  border: 2px groove #6f6c66;
  padding: 0.25rem;
}
aside[role="tooltip"].status main .form-group label,
aside[role="tooltip"].damage main .form-group label {
  flex: 0 0 auto;
}
aside[role="tooltip"].status main .form-group .form-fields,
aside[role="tooltip"].damage main .form-group .form-fields {
  flex: 0 0 auto;
}
aside[role="tooltip"].status main .form-group .hint,
aside[role="tooltip"].damage main .form-group .hint {
  flex: 0 0 100%;
  font-size: 0.75rem;
  margin: 0.25rem 0;
  font-style: italic;
}
aside[role="tooltip"].status footer,
aside[role="tooltip"].damage footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
aside[role="tooltip"].status footer .button,
aside[role="tooltip"].damage footer .button {
  flex: 0 0 auto;
  margin: 0 0.25rem;
}
aside[role="tooltip"].attack figure header h2,
.chat-message .move-embed figure header h2 {
  border-bottom: unset;
  text-align: center;
}
aside[role="tooltip"].attack figure header.traits tags[readonly],
.chat-message .move-embed figure header.traits tags[readonly] {
  width: 100%;
  --tags-border-color: var(--color-light-6);
  --tag-bg: var(--color-light-4);
  --tag-pad: 1px 3px;
  --readonly-striped: 0;
  --tag-hover: var(--color-light-3);
  justify-content: center;
}
aside[role="tooltip"].attack figure header.traits tags[readonly] span.tagify__input,
.chat-message .move-embed figure header.traits tags[readonly] span.tagify__input {
  display: none;
}
aside[role="tooltip"].attack figure aside img,
.chat-message .move-embed figure aside img {
  border: unset;
  border-radius: 50%;
}
aside[role="tooltip"].attack figure content.attack-embed,
.chat-message .move-embed figure content.attack-embed {
  font-size: 15px;
}
aside[role="tooltip"].attack figure content.attack-embed section.attack-info,
.chat-message .move-embed figure content.attack-embed section.attack-info {
  grid-template-areas: "basic" "range" "cost";
}
aside[role="tooltip"].attack figure content.attack-embed fieldset article,
.chat-message .move-embed figure content.attack-embed fieldset article {
  line-height: 1.3;
  line-break: pre-wrap;
}
.chat-message .message-content > figure.content-embed:only-child {
  margin: 0 0 0.5rem 0;
}
.chat-message .move-embed {
  padding: 0.5rem;
  border: 1px solid var(--color-light-6);
  border-radius: 8px;
  background-color: var(--color-light-3);
}
.chat-message .move-embed > figure {
  margin: 0;
}
.chat-message .move-embed tags {
  border-radius: 8px;
  background-color: var(--color-light-2);
}
.chat-message .move-embed .attack-description fieldset {
  background: var(--color-light-2);
}
.chat-message .move-embed fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
}
content.attack-embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
content.attack-embed aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem;
  gap: 5px;
}
content.attack-embed aside img {
  border: unset;
  border-radius: 50%;
}
content.attack-embed main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0.25rem;
}
content.attack-embed main section.attack-info {
  display: grid;
  grid-template-areas: "basic cost" "range cost";
}
content.attack-embed main section.attack-info fieldset {
  display: grid !important;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 17px;
  gap: 0.25rem !important;
  padding: 0.25rem !important;
  border: unset;
  margin-bottom: unset !important;
}
content.attack-embed main section.attack-info fieldset.basic {
  grid-area: basic;
}
content.attack-embed main section.attack-info fieldset.range {
  grid-area: range;
}
content.attack-embed main section.attack-info fieldset.cost {
  grid-area: cost;
}
content.attack-embed main section.attack-info fieldset label {
  font-weight: bold;
}
content.attack-embed main section.attack-description {
  margin-top: 1rem;
}
content.attack-embed main section.attack-description article {
  min-height: 50px;
}
.chat-message.message {
  background: #fefefe;
  padding: 0;
  color: #1e1e1e;
  --color-underline-header: #6f6c66;
}
.chat-message.message.whisper {
  border: 3px solid #83a1bd;
}
.chat-message.message.whisper header.message-header {
  background-color: #bcbcbc;
}
.chat-message.message.whisper .message-content {
  background-color: #dcdcdc;
}
.chat-message.message header.message-header {
  padding: 0.25rem;
  background-color: #cdcdcd;
  border-bottom: 1px solid var(--color-underline-header);
  border-radius: 5px 5px 0 0;
}
.chat-message.message .message-content {
  background-color: #fefefe;
  padding: 0.25rem;
}
.chat-message.message.damage-applied .message-content {
  padding: 0;
}
.chat-message.message.damage-applied .message-content > main {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}
.chat-message.message.damage-applied .message-content > main.undone {
  text-decoration: line-through;
}
.chat-message.message.damage-applied .message-content > main p {
  flex: 1;
}
.chat-message.message.damage-applied .message-content > main button {
  flex: 0 0 50px;
  padding: 0;
}
.chat-message.message.attack .message-content {
  padding: 0;
}
.chat-message.message.attack .message-content > header {
  background-color: #dedede;
  border-bottom: 1px solid var(--color-underline-header);
  text-align: center;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chat-message.message.attack .message-content > header .icon {
  flex: 0 0 36px;
  display: flex;
}
.chat-message.message.attack .message-content > header .icon img {
  width: 36px;
  height: 36px;
  border: unset;
  object-fit: scale-down;
}
.chat-message.message.attack .message-content > header h3 {
  border: unset;
  padding: unset;
  margin: unset;
}
.chat-message.message.attack .message-content > main {
  display: flex;
  flex-direction: column;
}
.chat-message.message.attack .message-content > main .collapse-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls {
  background-color: #eee;
  cursor: pointer;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls:after {
  content: "▶";
  color: #2e2e2e;
  font-size: 13px;
  float: right;
  margin-left: 5px;
  width: 10px;
}
.chat-message.message.attack .message-content > main .collapse-button .collapse-rolls.expanded:after {
  content: "▼";
}
.chat-message.message.attack .message-content > main > article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chat-message.message.attack .message-content > main > article.collapsed {
  display: none;
}
.chat-message.message.attack .message-content > main > article > section {
  flex: 1 0 50%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > main > article > section h3 {
  text-align: center;
  font-size: 1rem;
}
.chat-message.message.attack .message-content > main > article > section:nth-child(even) {
  border-left: 1px solid var(--color-underline-header);
  background-color: #fefefe;
}
.chat-message.message.attack .message-content > main > article > section:nth-child(odd) {
  background-color: #fefefe;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-formula,
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-total {
  border-radius: 10px;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded {
  padding: 0.25rem;
  background-color: #dedede;
  border-radius: 10px;
  margin: 0.25rem 0;
  text-align: center;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded .part-header {
  position: relative;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded .part-header .part-total {
  position: absolute;
  right: 0;
  top: 0;
}
.chat-message.message.attack .message-content > main > article > section .dice-roll .dice-tooltip.expanded ol.dice-rolls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat-message.message.attack .message-content > main > article > figure {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.chat-message.message.attack .message-content > main > article > figure > header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.25rem;
  background-color: #dedede;
  border-bottom: 1px solid var(--color-underline-header);
  border-radius: 0 0 10px 10px;
}
.chat-message.message.attack .message-content > main > article > figure > header .trait {
  flex: 0 1 auto;
  margin: 0 2px;
}
.chat-message.message.attack .message-content > main > article > figure > main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-message.message.attack .message-content > main > article > figure > main > aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 44px;
  margin: 0.25rem 0.25rem;
  gap: 2px;
}
.chat-message.message.attack .message-content > main > article > figure > main > aside .icon {
  border: unset;
}
.chat-message.message.attack .message-content > main > article > figure > main > article {
  flex: 1;
}
.chat-message.message.attack .message-content > main > article > figure > main > article.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chat-message.message.attack .message-content > footer {
  display: flex;
  flex-direction: column;
}
.chat-message.message.attack .message-content > footer .target {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  height: 43px;
  text-align: center;
}
.chat-message.message.attack .message-content > footer .target:nth-child(odd) {
  background-color: #fefefe;
  border-top: 1px solid var(--color-underline-header);
  border-bottom: 1px solid var(--color-underline-header);
}
.chat-message.message.attack .message-content > footer .target:nth-child(even) {
  background-color: #efefef;
}
.chat-message.message.attack .message-content > footer .target:first-child {
  border-top: unset;
  background-color: #dedede;
}
.chat-message.message.attack .message-content > footer .target .icon {
  flex: 0 0 36px;
  display: flex;
  justify-content: center;
}
.chat-message.message.attack .message-content > footer .target .icon img {
  width: 36px;
  height: 36px;
  border: unset;
  object-fit: scale-down;
}
.chat-message.message.attack .message-content > footer .target .status {
  margin-left: 0.25rem;
  flex: 0 0 64px;
}
.chat-message.message.attack .message-content > footer .target .status i.fas {
  font-size: 22px;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-certificate {
  color: #1edf6e;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-crosshairs {
  color: #14afdf;
}
.chat-message.message.attack .message-content > footer .target .status i.fas.fa-times-circle {
  color: #f04e4e;
}
.chat-message.message.attack .message-content > footer .target .damage {
  margin-left: 0.25rem;
  flex: 1;
}
.chat-message.message.attack .message-content > footer .target .damage span {
  font-size: 16px;
}
.chat-message.message.attack .message-content > footer .target .apply {
  flex: 0 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-message.message.attack .message-content > footer .target .apply button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #1e1e1e;
  padding: 0;
}
ol#combat-tracker {
  overflow-x: hidden;
}
ol#combat-tracker .combatant.actor.directory-item.preview {
  filter: opacity(0.5);
  padding: 0.25rem;
  height: 48px;
  animation: move-right-left 2.5s linear infinite;
}
ol#combat-tracker .combatant.actor.directory-item.preview .token-image {
  height: calc(48px - 0.5rem);
  object-fit: contain;
}
ol#combat-tracker .combatant.actor.directory-item.preview .token-name {
  height: calc(48px - 0.5rem);
}
ol#combat-tracker .combatant.actor.directory-item.preview .token-name h4 {
  flex: 0 0 16px;
  line-height: 16px;
}
ol#combat-tracker .combatant.actor.directory-item.preview .token-name .combatant-controls {
  flex: 0 0 12px;
}
ol#combat-tracker .combatant.actor.directory-item.preview .token-initiative {
  height: calc(48px - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes move-right-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/** Application V2 Styles **/
.sheet .tag {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sheet.move-sheet {
  background: linear-gradient(to right, rgba(7, 7, 10, 0.9), rgba(19, 17, 31, 0.95));
}
.sheet.move-sheet .window-content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: calc(1rem + 48px) calc(0.5rem + 38px) auto;
  grid-template-areas: "header nav" "traits traits" "main main";
  padding: 0;
}
.sheet.move-sheet .window-content .sheet-header {
  grid-area: header;
  padding: 0.5rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--color-light-6);
}
.sheet.move-sheet .window-content .sheet-header fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sheet.move-sheet .window-content .sheet-header img {
  flex: 0 0 48px;
  height: 48px;
  margin: 0 0.25rem;
  border: unset;
}
.sheet.move-sheet .window-content .sheet-header .title {
  font-size: 2.5rem;
}
.sheet.move-sheet .window-content nav.tabs {
  grid-area: nav;
  border: unset;
  margin: 0;
  padding: 0.5rem;
  padding-left: 0;
  border-bottom: 1px solid var(--color-light-6);
  border-left: 1px solid var(--color-light-6);
  gap: unset;
}
.sheet.move-sheet .window-content aside.traits {
  grid-area: traits;
  height: calc(0.5rem + 38px);
  padding: 0.25rem;
  border-bottom: 1px solid var(--color-light-6);
}
.sheet.move-sheet .window-content aside.traits tags {
  --tags-border-color: var(--color-light-6);
  --tag-bg: var(--color-light-4);
  --tag-hover: var(--color-light-3);
  width: 100%;
  --tag-pad: 0;
}
.sheet.move-sheet .window-content aside.traits tags .trait {
  display: inline-flex;
  padding: 0.25rem;
}
.sheet.move-sheet .window-content aside.traits tags .trait .tag {
  text-decoration: underline;
}
.sheet.move-sheet .window-content section.tab {
  grid-area: main;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
}
.sheet.move-sheet .window-content section.tab[data-tab=details] .editor,
.sheet.move-sheet .window-content section.tab[data-tab=details] .editor .editor-content {
  min-height: 200px;
}
.sheet.move-sheet .window-content section.tab[data-tab=attack] {
  padding: 0;
}
.sheet.move-sheet .window-content section.tab[data-tab=attack] form.scroll {
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem 1rem 1rem;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active .actions {
  flex: 0 0 50%;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active .actions header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  border-bottom: 1px solid #fefefe;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active .actions header .action-name {
  font-size: 18px;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active .actions content {
  display: flex;
  flex-direction: column;
}
.sheet.move-sheet .window-content section.tab[data-tab=actions].active .actions content .action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  margin: 0.5rem 0;
}
.sheet.move-sheet .window-content section.tab[data-tab="overview"] .item-description {
  min-height: 150px;
}
.sheet.move-sheet .window-content section.tab fieldset {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border-color: var(--color-light-6);
}
.sheet.move-sheet .window-content section.tab fieldset legend {
  font-size: var(--font-size-15);
  font-weight: bold;
}
.sheet.move-sheet .window-content section.tab .hint {
  margin: 0;
  font-size: var(--font-size-14);
  color: var(--color-light-5);
}
.sheet.move-sheet .window-content section.tab textarea {
  resize: vertical;
}
.sheet.stats-form .window-content {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 35% 65%;
  grid-template-areas: "baseStats statsChart" "evStats statsChart";
}
.sheet.stats-form .window-content aside {
  display: flex;
}
.sheet.stats-form .window-content aside form {
  flex: 1;
}
.sheet.stats-form .window-content h1 {
  font-size: 2rem;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] {
  grid-area: baseStats;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form {
  display: grid;
  grid-template-columns: 30% 15% 40% 15%;
  grid-template-rows: min-content 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "hpLabel hpValue spatkLabel spatkValue" "atkLabel atkValue spdefLabel spdefValue" "defLabel defValue spdLabel spdValue";
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label {
  text-align: left;
  align-self: center;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.hp {
  grid-area: hpLabel;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.atk {
  grid-area: atkLabel;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.def {
  grid-area: defLabel;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spa {
  grid-area: spatkLabel;
  margin-left: 1rem;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spd {
  grid-area: spdefLabel;
  margin-left: 1rem;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spe {
  grid-area: spdLabel;
  margin-left: 1rem;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input {
  text-align: center;
  align-self: center;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.hp {
  grid-area: hpValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.atk {
  grid-area: atkValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.def {
  grid-area: defValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spa {
  grid-area: spatkValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spd {
  grid-area: spdefValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spe {
  grid-area: spdValue;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form h1 {
  grid-area: header;
  text-align: center;
}
.sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input[type="submit"] {
  grid-area: submit;
}
.sheet.stats-form .window-content aside[data-application-part="evStats"] {
  grid-area: evStats;
  margin-top: 0.25rem;
}
.sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form {
  display: flex;
  flex-direction: column;
}
.sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form h1 {
  margin: 0.5rem 0;
  text-align: center;
}
.sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form .form-group label {
  flex: 0 0 100px;
  line-height: 1.75rem;
}
.sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form .form-group input {
  flex: 1;
}
.sheet.stats-form .window-content aside[data-application-part="statsChart"] {
  grid-area: statsChart;
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}
.sheet.stats-form .window-content aside[data-application-part="statsChart"] h1 {
  text-align: center;
}
.sheet.stats-form .window-content aside[data-application-part="statsChart"] .stats-chart-aside {
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
/** Application V1 Styles **/
.stats-chart-aside {
  flex: 1;
  position: relative;
}
.ptu-sheet header.explanation {
  flex-grow: 0;
  border-bottom: 1px solid #222224;
}
.ptu-sheet li {
  margin-bottom: 0.25rem;
}
.ptu-sheet li.key-value {
  margin-bottom: 0;
}
.ptu-sheet li.key-value > ul {
  margin-bottom: 0.25rem;
}
.ptu-sheet span.key,
.ptu-sheet summary {
  font-weight: bold;
}
.ptu-sheet * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.ptr2e form .form-group {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 2px groove #fefefe;
}
.ptr2e .attack-action {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 2px groove #fefefe;
}
.ptr2e img {
  border: unset;
}
.ptr2e.actor {
  border-radius: 20px 20px 20px 20px;
}
.ptr2e.actor section {
  padding: unset;
  background: unset;
}
.ptr2e.actor form {
  display: grid;
  grid-template-columns: 112px auto;
  grid-template-rows: 48px 36px auto;
  grid-template-areas: "aside nav" "aside subnav" "aside main";
  min-width: 0;
  min-height: 0;
  background: linear-gradient(to top, #3889adee, #346899ee);
  border-radius: 0 0 20px 20px;
}
.ptr2e.actor form > * {
  overflow: hidden;
}
.ptr2e.actor form nav.main-navigation {
  grid-area: nav;
  background: #93d8f1;
}
.ptr2e.actor form nav.main-navigation .tabs {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.ptr2e.actor form nav.main-navigation .tabs .item {
  color: black;
  margin: 0.25rem;
  font-size: 18px;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
}
.ptr2e.actor form nav.main-navigation .tabs .item.summary {
  background-image: url("/systems/ptr2e/img/icons/nav/summary.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.actions {
  background-image: url("/systems/ptr2e/img/icons/nav/actions.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.skills {
  background-image: url("/systems/ptr2e/img/icons/nav/skills.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.gear {
  background-image: url("/systems/ptr2e/img/icons/nav/gear.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.active {
  filter: drop-shadow(1px 1px 2px var(--color-shadow-primary));
}
.ptr2e.actor form nav.sub-navigation {
  grid-area: subnav;
  background: #93d8f1ee;
}
.ptr2e.actor form nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ptr2e.actor form aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  background: #346899;
}
.ptr2e.actor form aside header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ptr2e.actor form aside .party {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.ptr2e.actor form aside .party .party-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 0 5px #222224;
  border-radius: 5px;
  position: relative;
  margin: 0.2rem;
}
.ptr2e.actor form aside .party .party-member:after {
  position: absolute;
  width: 4px;
  height: var(--health-percent);
  background: black;
  top: 0;
  left: 0;
  content: "";
}
.ptr2e.actor form aside .party .party-member .profile-img {
  height: 80px;
  width: 80px;
  filter: drop-shadow(1px 1px 2px #222224);
  border: none;
  border-radius: 5px;
  position: relative;
}
.ptr2e.actor form aside .party .party-member .profile-img.black {
  border-left: 4px solid black;
  background-color: #00000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.darkred {
  border-left: 4px solid #8b0000;
  background-color: #8b000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.red {
  border-left: 4px solid red;
  background-color: #ff000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.orange {
  border-left: 4px solid orange;
  background-color: #ffa50065;
}
.ptr2e.actor form aside .party .party-member .profile-img.green {
  border-left: 4px solid lime;
  background-color: #00ff0065;
}
.ptr2e.actor form aside .party .party-member .profile-img.lime {
  border-left: 4px solid green;
  background-color: #00800065;
}
.ptr2e.actor form main {
  grid-area: main;
  display: flex;
}
.ptr2e.actor form main .tab[data-tab]:not(.active) {
  display: none;
}
.ptr2e.actor form .main-grid {
  flex: 1;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-gap: 0.25rem;
  min-width: 0;
  min-height: 0;
}
.ptr2e.actor form .main-grid > * {
  overflow: hidden;
}
.ptr2e.actor form .main-grid .stats-chart-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .stats-chart-box.default-location {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}
.ptr2e.actor form .main-grid .movement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #3889adee, #346899ee);
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .movement.default-location {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}
.ptr2e.actor form .main-grid .skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .skills.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
.ptr2e.actor form .main-grid .level-field,
.ptr2e.actor form .main-grid .link-to-stats,
.ptr2e.actor form .main-grid .typings {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0.5rem;
  border-radius: 20px;
}
.ptr2e.actor form .main-grid .level-field h2,
.ptr2e.actor form .main-grid .link-to-stats h2,
.ptr2e.actor form .main-grid .typings h2,
.ptr2e.actor form .main-grid .level-field h4,
.ptr2e.actor form .main-grid .link-to-stats h4,
.ptr2e.actor form .main-grid .typings h4 {
  align-self: center;
  margin: 0;
  font-style: italic;
}
.ptr2e.actor form .main-grid .link-to-stats {
  grid-row: 3 / span 1;
  gap: 0.5rem;
}
.ptr2e.actor form .main-grid .typings {
  grid-row: 4 / span 2;
  gap: 0.5rem;
}
.ptr2e.actor form .main-grid .actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .actions.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
.ptr2e.actor form .main-grid .actions h2 {
  text-align: center;
  border-bottom: 1px solid #fefefeaa;
}
.ptr2e.actor form .main-grid .actions ul.action-list {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action {
  padding: 0.5rem;
  background: #3889adee;
  border-radius: 5px;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action:nth-child(odd) {
  background: #2f608dee;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .item-icon {
  flex: 0 0 24px;
  height: 24px;
  width: 24px;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .item-icon .icon {
  display: block;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .item-icon .dice {
  display: none;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .item-icon.rollable:hover > .icon {
  display: none;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .item-icon.rollable:hover > .dice {
  display: block;
  cursor: pointer;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action .name {
  flex-grow: 1;
  margin: 0 0.25rem;
}
.ptr2e.actor form .main-grid .gear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .gear.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
