.system-traits {
  --readonly-striped: 0 !important;
}
.ptr-trait {
  padding: 0.5rem;
  margin: 0.25rem;
  background: #e6e6e6aa;
  border-radius: 5px;
}
.ptr-trait:hover {
  background: #e6e6e6;
}
#perk-tree {
  position: absolute;
  z-index: calc(var(--z-index-window) - 1);
}
#perk-tree-controls {
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  pointer-events: none;
  z-index: calc(var(--z-index-tooltip) - 1);
}
#perk-tree-controls .hud {
  pointer-events: all;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 0.5rem;
  background: #111112;
  color: white;
  border-radius: 15px;
  gap: 0.25rem;
}
#perk-tree-controls .hud.editing {
  background: #851a1a;
}
