.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-90 {
  height: 90% !important;
}
.h-100 {
  height: 100% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.mh-100 {
  max-height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.center-text {
  text-align: center;
}
.center-self {
  align-self: center;
}
.lh-16 {
  line-height: 16px;
}
.d-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-row {
  flex-direction: row;
}
.flex-col,
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.fb-10 {
  flex-basis: 10%;
}
.fb-15 {
  flex-basis: 15%;
}
.fb-20 {
  flex-basis: 20%;
}
.fb-25 {
  flex-basis: 25%;
}
.fb-30 {
  flex-basis: 30%;
}
.fb-33 {
  flex-basis: 33%;
}
.fb-35 {
  flex-basis: 35%;
}
.fb-40 {
  flex-basis: 40%;
}
.fb-45 {
  flex-basis: 45%;
}
.fb-48 {
  flex-basis: 48%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-55 {
  flex-basis: 55%;
}
.fb-60 {
  flex-basis: 60%;
}
.fb-65 {
  flex-basis: 65%;
}
.fb-70 {
  flex-basis: 70%;
}
.fb-75 {
  flex-basis: 75%;
}
.fb-80 {
  flex-basis: 80%;
}
.fb-85 {
  flex-basis: 85%;
}
.fb-90 {
  flex-basis: 90%;
}
.fb-95 {
  flex-basis: 95%;
}
.fb-100 {
  flex-basis: 100%;
}
.g-1 {
  gap: 1px;
}
.g-2 {
  gap: 2px;
}
.g-3 {
  gap: 3px;
}
.g-4 {
  gap: 4px;
}
.g-5 {
  gap: 5px;
}
.g-6 {
  gap: 6px;
}
.g-7 {
  gap: 7px;
}
.g-8 {
  gap: 8px;
}
.g-9 {
  gap: 9px;
}
.g-10 {
  gap: 10px;
}
.gcs-1 {
  grid-column-start: 1;
}
.gcs-2 {
  grid-column-start: 2;
}
.gcs-3 {
  grid-column-start: 3;
}
.gcs-4 {
  grid-column-start: 4;
}
.gcs-5 {
  grid-column-start: 5;
}
.gcs-6 {
  grid-column-start: 6;
}
.grs-1 {
  grid-row-start: 1;
}
.grs-2 {
  grid-row-start: 2;
}
.grs-3 {
  grid-row-start: 3;
}
.grs-4 {
  grid-row-start: 4;
}
.grs-5 {
  grid-row-start: 5;
}
.grs-6 {
  grid-row-start: 6;
}
.gce-2 {
  grid-column-end: 2;
}
.gce-3 {
  grid-column-end: 3;
}
.gce-4 {
  grid-column-end: 4;
}
.gce-5 {
  grid-column-end: 5;
}
.gce-6 {
  grid-column-end: 6;
}
.gce-7 {
  grid-column-end: 7;
}
.gre-2 {
  grid-row-end: 2;
}
.gre-3 {
  grid-row-end: 3;
}
.gre-4 {
  grid-row-end: 4;
}
.gre-5 {
  grid-row-end: 5;
}
.gre-6 {
  grid-row-end: 6;
}
.gre-7 {
  grid-row-end: 7;
}
.document-sheet {
  background: url(/ui/denim075.png);
}
.document-sheet .window-content {
  background: url(/ui/parchment.jpg);
  padding: 0.25rem;
  margin: 0.75rem;
  border-radius: 5px;
  height: 100%;
  color: black;
}
.document-sheet.stats-form .window-content {
  margin-top: 0.25rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 65%;
  grid-template-areas: "baseStats statsChart" "evStats statsChart";
}
.document-sheet.stats-form .window-content aside {
  display: flex;
}
.document-sheet.stats-form .window-content aside form {
  flex: 1;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] {
  grid-area: baseStats;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form {
  display: grid;
  grid-template-columns: 30% 15% 40% 15%;
  grid-template-rows: min-content 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "hpLabel hpValue spatkLabel spatkValue" "atkLabel atkValue spdefLabel spdefValue" "defLabel defValue spdLabel spdValue";
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label {
  margin-left: 1rem;
  text-align: left;
  align-self: center;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.hp {
  grid-area: hpLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.atk {
  grid-area: atkLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.def {
  grid-area: defLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spa {
  grid-area: spatkLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spd {
  grid-area: spdefLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form label.spe {
  grid-area: spdLabel;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input {
  text-align: center;
  align-self: center;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.hp {
  grid-area: hpValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.atk {
  grid-area: atkValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.def {
  grid-area: defValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spa {
  grid-area: spatkValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spd {
  grid-area: spdefValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input.spe {
  grid-area: spdValue;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form h1 {
  grid-area: header;
  text-align: center;
}
.document-sheet.stats-form .window-content aside[data-application-part="baseStats"] form#base-stats-form input[type="submit"] {
  grid-area: submit;
}
.document-sheet.stats-form .window-content aside[data-application-part="evStats"] {
  grid-area: evStats;
  margin-top: 0.25rem;
}
.document-sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form {
  display: flex;
  flex-direction: column;
}
.document-sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form h1 {
  text-align: center;
}
.document-sheet.stats-form .window-content aside[data-application-part="evStats"] form#ev-stats-form .form-group {
  margin-left: 1rem;
}
.document-sheet.stats-form .window-content aside[data-application-part="statsChart"] {
  grid-area: statsChart;
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}
.document-sheet.stats-form .window-content aside[data-application-part="statsChart"] h1 {
  text-align: center;
}
.document-sheet.stats-form .window-content aside[data-application-part="statsChart"] .stats-chart-aside {
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.stats-chart-aside {
  flex: 1;
  position: relative;
}
.system-traits {
  --readonly-striped: 0 !important;
}
.ptr-trait {
  padding: 0.5rem;
  margin: 0.25rem;
  background: #e6e6e6aa;
  border-radius: 5px;
}
.ptr-trait:hover {
  background: #e6e6e6;
}
[role="tooltip"].attack,
.embed.move-embed.attack,
[role="tooltip"] .attack,
.embed.move-embed .attack {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: #121212;
  border-radius: 10px !important;
  margin: 0.25rem !important;
  padding: 0.25rem !important;
  min-width: 200px;
  color: #efefef;
}
[role="tooltip"].attack h3,
.embed.move-embed.attack h3,
[role="tooltip"] .attack h3,
.embed.move-embed .attack h3 {
  border-bottom: 1px solid #fefefeaa;
  margin: 0.25rem 0;
  padding-bottom: 0.25rem;
  text-align: center;
}
[role="tooltip"].attack div.d-flex,
.embed.move-embed.attack div.d-flex,
[role="tooltip"] .attack div.d-flex,
.embed.move-embed .attack div.d-flex {
  justify-content: space-between;
  text-align: center;
}
[role="tooltip"].attack label,
.embed.move-embed.attack label,
[role="tooltip"] .attack label,
.embed.move-embed .attack label {
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: bold;
  flex: 0 0 45%;
}
[role="tooltip"].attack span,
.embed.move-embed.attack span,
[role="tooltip"] .attack span,
.embed.move-embed .attack span {
  font-size: 14px;
  text-wrap: nowrap;
  flex: 0 0 45%;
}
[role="tooltip"].attack content,
.embed.move-embed.attack content,
[role="tooltip"] .attack content,
.embed.move-embed .attack content {
  display: flex;
  min-height: 40px;
  width: 100%;
  padding-top: 0.25rem;
  border-top: 1px solid #fefefeaa;
}
[role="tooltip"].attack content.no-effect,
.embed.move-embed.attack content.no-effect,
[role="tooltip"] .attack content.no-effect,
.embed.move-embed .attack content.no-effect {
  justify-content: center;
}
[role="tooltip"].attack content i.small,
.embed.move-embed.attack content i.small,
[role="tooltip"] .attack content i.small,
.embed.move-embed .attack content i.small {
  font-size: 11px;
  color: lightgray;
  align-self: center;
  text-align: center;
}
.ptr2e form .form-group {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 2px groove #fefefe;
}
.ptr2e .attack-action {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 2px groove #fefefe;
}
.ptr2e img {
  border: unset;
}
.ptr2e.actor {
  border-radius: 20px 20px 20px 20px;
}
.ptr2e.actor section {
  padding: unset;
  background: unset;
}
.ptr2e.actor form {
  display: grid;
  grid-template-columns: 112px auto;
  grid-template-rows: 48px 36px auto;
  grid-template-areas: "aside nav" "aside subnav" "aside main";
  min-width: 0;
  min-height: 0;
  background: linear-gradient(to top, #3889adee, #346899ee);
  border-radius: 0 0 20px 20px;
}
.ptr2e.actor form > * {
  overflow: hidden;
}
.ptr2e.actor form nav.main-navigation {
  grid-area: nav;
  background: #93d8f1;
}
.ptr2e.actor form nav.main-navigation .tabs {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.ptr2e.actor form nav.main-navigation .tabs .item {
  color: black;
  margin: 0.25rem;
  font-size: 18px;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
}
.ptr2e.actor form nav.main-navigation .tabs .item.summary {
  background-image: url("/systems/ptr2e/img/icons/nav/summary.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.actions {
  background-image: url("/systems/ptr2e/img/icons/nav/actions.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.skills {
  background-image: url("/systems/ptr2e/img/icons/nav/skills.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.gear {
  background-image: url("/systems/ptr2e/img/icons/nav/gear.webp");
}
.ptr2e.actor form nav.main-navigation .tabs .item.active {
  filter: drop-shadow(1px 1px 2px var(--color-shadow-primary));
}
.ptr2e.actor form nav.sub-navigation {
  grid-area: subnav;
  background: #93d8f1ee;
}
.ptr2e.actor form nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ptr2e.actor form aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  background: #346899;
}
.ptr2e.actor form aside header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ptr2e.actor form aside .party {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.ptr2e.actor form aside .party .party-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 0 5px #222224;
  border-radius: 5px;
  position: relative;
  margin: 0.2rem;
}
.ptr2e.actor form aside .party .party-member:after {
  position: absolute;
  width: 4px;
  height: var(--health-percent);
  background: black;
  top: 0;
  left: 0;
  content: "";
}
.ptr2e.actor form aside .party .party-member .profile-img {
  height: 80px;
  width: 80px;
  filter: drop-shadow(1px 1px 2px #222224);
  border: none;
  border-radius: 5px;
  position: relative;
}
.ptr2e.actor form aside .party .party-member .profile-img.black {
  border-left: 4px solid black;
  background-color: #00000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.darkred {
  border-left: 4px solid #8b0000;
  background-color: #8b000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.red {
  border-left: 4px solid red;
  background-color: #ff000065;
}
.ptr2e.actor form aside .party .party-member .profile-img.orange {
  border-left: 4px solid orange;
  background-color: #ffa50065;
}
.ptr2e.actor form aside .party .party-member .profile-img.green {
  border-left: 4px solid lime;
  background-color: #00ff0065;
}
.ptr2e.actor form aside .party .party-member .profile-img.lime {
  border-left: 4px solid green;
  background-color: #00800065;
}
.ptr2e.actor form main {
  grid-area: main;
  display: flex;
}
.ptr2e.actor form main .tab[data-tab]:not(.active) {
  display: none;
}
.ptr2e.actor form .main-grid {
  flex: 1;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-gap: 0.25rem;
  min-width: 0;
  min-height: 0;
}
.ptr2e.actor form .main-grid > * {
  overflow: hidden;
}
.ptr2e.actor form .main-grid .stats-chart-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .stats-chart-box.default-location {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}
.ptr2e.actor form .main-grid .movement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #3889adee, #346899ee);
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .movement.default-location {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}
.ptr2e.actor form .main-grid .skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .skills.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
.ptr2e.actor form .main-grid .actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .actions.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
.ptr2e.actor form .main-grid .actions h2 {
  text-align: center;
  border-bottom: 1px solid #fefefeaa;
}
.ptr2e.actor form .main-grid .actions ul.action-list {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action {
  padding: 0.5rem;
  background: #3889adee;
  border-radius: 5px;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ptr2e.actor form .main-grid .actions ul.action-list li.action:nth-child(odd) {
  background: #2f608dee;
}
.ptr2e.actor form .main-grid .gear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #346899;
  border-radius: 10px;
  margin: 0.25rem;
}
.ptr2e.actor form .main-grid .gear.default-location {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
#perk-tree {
  position: absolute;
  z-index: calc(var(--z-index-window) - 1);
}
#perk-tree-controls {
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  pointer-events: none;
  z-index: calc(var(--z-index-tooltip) - 1);
}
#perk-tree-controls .hud {
  pointer-events: all;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 0.5rem;
  background: #111112;
  color: white;
  border-radius: 15px;
  gap: 0.25rem;
}
#perk-tree-controls .hud.editing {
  background: #851a1a;
}
