@import "utils.less";

ol#combat-tracker {
    overflow-x: hidden;

    .combatant.actor.directory-item.preview {
        filter: opacity(0.5);
        padding: 0.25rem;
        height: 48px;

        .token-image {
            height: calc(48px - 0.5rem);
            object-fit: contain;
        }

        .token-name {
            height: calc(48px - 0.5rem);

            h4 {
                flex: 0 0 16px;
                line-height: 16px;
            }

            .combatant-controls {
                flex: 0 0 12px;
            }
        }

        .token-initiative {
            height: calc(48px - 0.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @keyframes move-right-left {
            0% {
                transform: translateX(0);
            }

            50% {

                transform: translateX(10px);
            }
            100% {
                transform: translateX(0);
            }
        }

        animation: move-right-left 3s linear infinite;

    }
}

.document-sheet {
    background: url(/ui/denim075.png);

    .window-content {
        background: url(/ui/parchment.jpg);
        padding: 0.25rem;
        margin: 0.75rem;
        border-radius: 5px;
        height: 100%;
        color: black;
    }

    &.stats-form {
        .window-content {
            margin-top: 0.25rem;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 35% 65%;
            grid-template-areas:
                "baseStats statsChart"
                "evStats statsChart";

            aside {
                display: flex;

                form {
                    flex: 1;
                }
            }

            aside[data-application-part="baseStats"] {
                grid-area: baseStats;

                form#base-stats-form {
                    display: grid;
                    grid-template-columns: 30% 15% 40% 15%;
                    grid-template-rows: min-content 1fr 1fr 1fr;
                    grid-template-areas:
                        "header header header header"
                        "hpLabel hpValue spatkLabel spatkValue"
                        "atkLabel atkValue spdefLabel spdefValue"
                        "defLabel defValue spdLabel spdValue";

                    label {
                        margin-left: 1rem;
                        text-align: left;
                        align-self: center;

                        &.hp {
                            grid-area: hpLabel;
                        }

                        &.atk {
                            grid-area: atkLabel;
                        }

                        &.def {
                            grid-area: defLabel;
                        }

                        &.spa {
                            grid-area: spatkLabel;
                        }

                        &.spd {
                            grid-area: spdefLabel;
                        }

                        &.spe {
                            grid-area: spdLabel;
                        }
                    }

                    input {
                        text-align: center;
                        align-self: center;

                        &.hp {
                            grid-area: hpValue;
                        }

                        &.atk {
                            grid-area: atkValue;
                        }

                        &.def {
                            grid-area: defValue;
                        }

                        &.spa {
                            grid-area: spatkValue;
                        }

                        &.spd {
                            grid-area: spdefValue;
                        }

                        &.spe {
                            grid-area: spdValue;
                        }
                    }

                    h1 {
                        grid-area: header;
                        text-align: center;
                    }

                    input[type="submit"] {
                        grid-area: submit;
                    }
                }
            }

            aside[data-application-part="evStats"] {
                grid-area: evStats;

                margin-top: 0.25rem;

                form#ev-stats-form {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        text-align: center;
                    }

                    .form-group {
                        margin-left: 1rem;
                    }
                }
            }

            aside[data-application-part="statsChart"] {
                grid-area: statsChart;

                display: flex;
                flex-direction: column;
                margin-left: 0.25rem;

                h1 {
                    text-align: center;
                }

                .stats-chart-aside {
                    align-items: center;
                    background: #346899;
                    border-radius: 10px;
                    margin: 0.25rem;
                }
            }
        }
    }
}

.stats-chart-aside {
    flex: 1;
    position: relative;
}

.system-traits {
    --readonly-striped: 0 !important;
}

.ptr-trait {
    padding: 0.5rem;
    margin: 0.25rem;
    background: #e6e6e6aa;
    border-radius: 5px;

    &:hover {
        background: #e6e6e6;
    }
}

[role="tooltip"],
.embed.move-embed {

    &.attack,
    .attack {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        background: #121212;
        border-radius: 10px !important;
        margin: 0.25rem !important;
        padding: 0.25rem !important;
        min-width: 200px;

        color: #efefef;

        h3 {
            border-bottom: 1px solid #fefefeaa;
            margin: 0.25rem 0;
            padding-bottom: 0.25rem;
            text-align: center;
        }

        div.d-flex {
            justify-content: space-between;
            text-align: center;
        }

        label {
            font-size: 14px;
            text-wrap: nowrap;
            font-weight: bold;
            flex: 0 0 45%;
        }

        span {
            font-size: 14px;
            text-wrap: nowrap;
            flex: 0 0 45%;
        }

        content {
            display: flex;
            min-height: 40px;
            width: 100%;

            padding-top: 0.25rem;
            border-top: 1px solid #fefefeaa;

            &.no-effect {
                justify-content: center;
            }

            i.small {
                font-size: 11px;
                color: lightgray;
                align-self: center;
                text-align: center;
            }
        }
    }
}

.ptr2e {
    form {
        .form-group {
            margin: 0.25rem;
            padding: 0.25rem;
            border: 2px groove #fefefe;
        }
    }

    .attack-action {
        margin: 0.25rem;
        padding: 0.25rem;
        border: 2px groove #fefefe;
    }

    img {
        border: unset;
    }

    &.actor {
        border-radius: 20px 20px 20px 20px;

        section {
            padding: unset;
            background: unset;
        }

        form {
            display: grid;
            grid-template-columns: 112px auto;
            grid-template-rows: 48px 36px auto;
            grid-template-areas:
                "aside nav"
                "aside subnav"
                "aside main";

            min-width: 0;
            min-height: 0;

            &>* {
                overflow: hidden;
            }

            background: linear-gradient(to top, #3889adee, #346899ee);
            border-radius: 0 0 20px 20px;

            nav.main-navigation {
                grid-area: nav;
                background: #93d8f1;

                .tabs {
                    flex: 0 0 50%;

                    display: flex;
                    flex-direction: row;
                    gap: 0.25rem;

                    .item {
                        color: black;
                        // padding: 0.25rem;
                        //background: whitesmoke;
                        // border-radius: 0.25rem;
                        margin: 0.25rem;
                        font-size: 18px;
                        height: 48px;
                        width: 48px;
                        background-size: 48px 48px;

                        &.summary {
                            background-image: url("/systems/ptr2e/img/icons/nav/summary.webp");
                        }

                        &.actions {
                            background-image: url("/systems/ptr2e/img/icons/nav/actions.webp");
                        }

                        &.skills {
                            background-image: url("/systems/ptr2e/img/icons/nav/skills.webp");
                        }

                        &.gear {
                            background-image: url("/systems/ptr2e/img/icons/nav/gear.webp");
                        }

                        &.active {
                            filter: drop-shadow(1px 1px 2px var(--color-shadow-primary));
                        }
                    }
                }
            }

            nav.sub-navigation {
                grid-area: subnav;
                background: #93d8f1ee;
            }

            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            aside {
                grid-area: aside;
                display: flex;
                flex-direction: column;

                background: #346899;

                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .party {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    .party-member {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        box-shadow: inset 0 0 5px #222224;
                        border-radius: 5px;
                        position: relative;

                        margin: 0.2rem;

                        &:after {
                            position: absolute;
                            width: 4px;
                            height: var(--health-percent);
                            background: black;
                            top: 0;
                            left: 0;
                            content: "";
                        }

                        .profile-img {
                            height: 80px;
                            width: 80px;

                            filter: drop-shadow(1px 1px 2px #222224);
                            border: none;
                            border-radius: 5px;
                            position: relative;

                            &.black {
                                border-left: 4px solid black;
                                background-color: #00000065;
                            }

                            &.darkred {
                                border-left: 4px solid #8b0000;
                                background-color: #8b000065;
                            }

                            &.red {
                                border-left: 4px solid red;
                                background-color: #ff000065;
                            }

                            &.orange {
                                border-left: 4px solid orange;
                                background-color: #ffa50065;
                            }

                            &.green {
                                border-left: 4px solid lime;
                                background-color: #00ff0065;
                            }

                            &.lime {
                                border-left: 4px solid green;
                                background-color: #00800065;
                            }
                        }
                    }
                }
            }

            main {
                grid-area: main;

                display: flex;

                .tab[data-tab]:not(.active) {
                    display: none;
                }
            }

            .main-grid {
                flex: 1;

                display: grid;
                grid-template: repeat(5, 1fr) / repeat(5, 1fr);
                grid-gap: 0.25rem;

                min-width: 0;
                min-height: 0;

                &>* {
                    overflow: hidden;
                }

                .stats-chart-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background: #346899;
                    border-radius: 10px;
                    margin: 0.25rem;

                    &.default-location {
                        grid-column: 4 / span 2;
                        grid-row: 1 / span 3;
                    }
                }

                .movement {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background: linear-gradient(to bottom, #3889adee, #346899ee);
                    border-radius: 10px;
                    margin: 0.25rem;

                    &.default-location {
                        grid-column: 4 / span 2;
                        grid-row: 4 / span 2;
                    }
                }

                .skills {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background: #346899;
                    border-radius: 10px;
                    margin: 0.25rem;

                    &.default-location {
                        grid-column: 1 / span 3;
                        grid-row: 1 / span 5;
                    }
                }

                .level-field,
                .link-to-stats {
                    grid-column: 4 / span 2;
                    grid-row: 1 / span 2;

                    background: #fefefe;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 1rem 0.5rem;
                    border-radius: 20px;

                    h2,
                    h4 {
                        align-self: center;
                        margin: 0;
                        font-style: italic;
                    }
                }

                .link-to-stats {
                    grid-row: 3 / span 1;
                    gap: 0.5rem;
                }

                .actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;

                    background: #346899;
                    border-radius: 10px;
                    margin: 0.25rem;

                    &.default-location {
                        grid-column: 1 / span 3;
                        grid-row: 1 / span 5;
                    }

                    h2 {
                        text-align: center;
                        border-bottom: 1px solid #fefefeaa;
                    }

                    ul.action-list {
                        list-style: none;
                        margin: 0 0.5rem;
                        padding: 0;

                        li.action {
                            padding: 0.5rem;
                            background: #3889adee;
                            border-radius: 5px;
                            color: #efefef;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            &:nth-child(odd) {
                                background: #2f608dee;
                            }

                            .item-icon {
                                flex: 0 0 24px;
                                height: 24px;
                                width: 24px;

                                .icon {
                                    display: block;
                                }

                                .dice {
                                    display: none;
                                    // background: lightslategray
                                }

                                &.rollable:hover {
                                    >.icon {
                                        display: none;
                                    }

                                    >.dice {
                                        display: block;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .name {
                                flex-grow: 1;
                                margin: 0 0.25rem;
                            }
                        }
                    }
                }

                .gear {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    background: #346899;
                    border-radius: 10px;
                    margin: 0.25rem;

                    &.default-location {
                        grid-column: 1 / span 3;
                        grid-row: 1 / span 5;
                    }
                }
            }
        }
    }
}

#perk-tree {
    position: absolute;
    z-index: calc(var(--z-index-window) - 1);
}

#perk-tree-controls {
    position: fixed;
    width: 100%;
    bottom: 50px;
    justify-content: center;
    pointer-events: none;
    z-index: calc(var(--z-index-tooltip) - 1);

    .hud {
        pointer-events: all;
        width: 100%;
        max-width: 800px;
        align-items: center;
        padding: 0.5rem;
        background: #111112;
        color: white;
        border-radius: 15px;

        gap: 0.25rem;

        &.editing {
            background: #851a1a;
        }
    }
}