#loading {
    margin-bottom: 0.5em;
    label {
        font-size: var(--font-size-15);
    }
}

aside[role="tooltip"] {
    min-width: 165px;
    
    --tooltip-background: linear-gradient(to right, rgba(7, 7, 10, 0.9), rgba(19, 17, 31, 0.95));
    background: var(--tooltip-background) !important;
    border-color: var(--color-light-6) !important;
    border-radius: 8px !important;

    a.content-link {
        background: var(--content-link-background);
        line-height: 24px;
    }

    fieldset {
        border-color: var(--color-light-6);
        border-radius: 8px;
    }

    &.locked-tooltip,
    &.locked-tooltip * {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;

        border-color: var(--ground-color) !important;

        .circular-progress {
            animation: none;
            --progress: 100;

            circle {
                // &.fg {
                //     --stroke: var(--color-warm-1);
                // }
                &.fgb {
                    stroke: var(--stroke);
                }
            }
        }
    }

    &.text-right {
        text-align: unset !important;
    }

    .progress-circle {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 25px;
        height: 25px;

        // background: #ffffffee;
        border-radius: 0 0 0 40%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circular-progress {
        --size: 20px;
        --half-size: calc(var(--size) / 2);
        --stroke-width: 5px;
        --radius: calc((var(--size) - var(--stroke-width)) / 2);
        --circumference: calc(var(--radius) * pi * 2);
        --dash: calc((var(--progress) * var(--circumference)) / 100);
        --stroke: var(--ground-color);//#fdb953;
        animation: progress-animation 2s ease-out 0s 1 forwards;

        circle {
            cx: var(--half-size);
            cy: var(--half-size);
            r: var(--radius);
            stroke-width: var(--stroke-width);
            fill: none;
            stroke-linecap: round;

            &.bg {
                stroke:  #ddd;
            }

            &.fg {
                transform: rotate(-90deg);
                transform-origin: var(--half-size) var(--half-size);
                stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
                transition: stroke-dasharray 0.3s linear 0s;
                stroke: var(--stroke);
            }
            &.fgb {
                stroke-width: 4px;
            }
        }
    }

    @property --progress {
        syntax: "<number>";
        inherits: false;
        initial-value: 0;
    }

    @keyframes progress-animation {
        from {
            --progress: 0;
        }

        to {
            --progress: 100;
        }
    }

    &.status, &.damage {
        header {
            h3 {
                border-bottom: 1px solid #6f6c66;
                padding: 0.25rem;
                margin: 0;
            }
        }

        main {
            display: flex;
            flex-direction: column;

            figure {
                margin: 0.1rem 0.25rem;
                border: 2px groove #6f6c66;
                padding: 0.25rem;
                text-align: center;

                code {
                    font-size: 0.8rem;
                    word-wrap: pre-wrap;
                }
            }
            .form-group {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: start;
                flex-wrap: wrap;
                margin: 0.1rem 0.25rem;
                border: 2px groove #6f6c66;
                padding: 0.25rem;

                label {
                    flex: 0 0 auto;    
                }
                .form-fields {
                    flex: 0 0 auto;
                }
                .hint {
                    flex: 0 0 100%;
                    font-size: 0.75rem;
                    margin: 0.25rem 0;
                    font-style: italic;
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem;

            .button {
                flex: 0 0 auto;
                margin: 0 0.25rem;
            }
        }
    }

    &:has(.damage-info) {
        padding: 0 !important;
        min-width: 165px;
    }

    &.damage-info {
        display: flex;
        flex-direction: column;

        header {
            padding: 0.5rem;
            padding-right: 0.75rem;

            h5 {
                margin: 0;
            }

            border-bottom: 1px solid var(--color-light-6);
            width: 100%;
        }

        .note {
            display: flex;
            flex-direction: column;

            padding: 0.5rem;

            figure {
                margin: 0;
                padding-bottom: 0.5rem;
                min-height: 20px;

                a.content-link {
                    background: var(--content-link-background);
                }

                // .content-link {
                //     display: inline-block;

                //     background: var(--tooltip-background);
                //     border-color: var(--color-border-dark-tertiary);
                    
                //     &.broken-link, &.broken {
                //         border-color: red;
                //     }
                // }

                &:first-child {
                    padding-top: unset;
                }

                &:last-child {
                    padding: 0.5rem 0 0.25rem 0;
                }

                &.damage {
                    padding: 0;
                    align-content: center;
                    // border-top: 1px solid var(--color-light-6);
                }
            }
        }
    }

    .attack-embed {
        min-width: 275px;
    }
}

// .trait {
//     font-family: monospace;
//     padding: 0.25rem 0;

//     .tag {
//         text-decoration: underline;
//     }
// }

