aside[role="tooltip"] {
  min-width: 150px;
  background: linear-gradient(to right, rgba(7, 7, 10, 0.9), rgba(19, 17, 31, 0.95)) !important;
  border-color: var(--color-light-6) !important;
  border-radius: 8px !important;
}
aside[role="tooltip"] fieldset {
  border-color: var(--color-light-6);
  border-radius: 8px;
}
aside[role="tooltip"].locked-tooltip,
aside[role="tooltip"].locked-tooltip * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border-color: var(--color-light-6);
}
aside[role="tooltip"].locked-tooltip .circular-progress,
aside[role="tooltip"].locked-tooltip * .circular-progress {
  animation: none;
  --progress: 100;
}
aside[role="tooltip"].locked-tooltip .circular-progress circle.fg,
aside[role="tooltip"].locked-tooltip * .circular-progress circle.fg {
  --stroke: var(--color-light-6);
}
aside[role="tooltip"].locked-tooltip .circular-progress circle.fgb,
aside[role="tooltip"].locked-tooltip * .circular-progress circle.fgb {
  stroke: var(--stroke);
}
aside[role="tooltip"] .progress-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 0 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside[role="tooltip"] .circular-progress {
  --size: 20px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 5px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  --stroke: var(--color-light-5);
  animation: progress-animation 2s ease-out 0s 1 forwards;
}
aside[role="tooltip"] .circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}
aside[role="tooltip"] .circular-progress circle.bg {
  stroke: #ddd;
}
aside[role="tooltip"] .circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: var(--stroke);
}
aside[role="tooltip"] .circular-progress circle.fgb {
  stroke-width: 4px;
}
@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}
aside[role="tooltip"].status header h3,
aside[role="tooltip"].damage header h3 {
  border-bottom: 1px solid #6f6c66;
  padding: 0.25rem;
  margin: 0;
}
aside[role="tooltip"].status main,
aside[role="tooltip"].damage main {
  display: flex;
  flex-direction: column;
}
aside[role="tooltip"].status main figure,
aside[role="tooltip"].damage main figure {
  margin: 0.1rem 0.25rem;
  border: 2px groove #6f6c66;
  padding: 0.25rem;
  text-align: center;
}
aside[role="tooltip"].status main figure code,
aside[role="tooltip"].damage main figure code {
  font-size: 0.8rem;
  word-wrap: pre-wrap;
}
aside[role="tooltip"].status main .form-group,
aside[role="tooltip"].damage main .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
  margin: 0.1rem 0.25rem;
  border: 2px groove #6f6c66;
  padding: 0.25rem;
}
aside[role="tooltip"].status main .form-group label,
aside[role="tooltip"].damage main .form-group label {
  flex: 0 0 auto;
}
aside[role="tooltip"].status main .form-group .form-fields,
aside[role="tooltip"].damage main .form-group .form-fields {
  flex: 0 0 auto;
}
aside[role="tooltip"].status main .form-group .hint,
aside[role="tooltip"].damage main .form-group .hint {
  flex: 0 0 100%;
  font-size: 0.75rem;
  margin: 0.25rem 0;
  font-style: italic;
}
aside[role="tooltip"].status footer,
aside[role="tooltip"].damage footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
aside[role="tooltip"].status footer .button,
aside[role="tooltip"].damage footer .button {
  flex: 0 0 auto;
  margin: 0 0.25rem;
}
