#perk-tree {
    position: absolute;
    z-index: calc(var(--z-index-window) - 1);
}

.perk-hud {
    position: fixed;
    width: 250px;
    height: 100%;
    pointer-events: none;
    z-index: calc(var(--z-index-tooltip) - 2);
    display: grid;
    grid-template-columns: 250px;
    border-radius: unset;
    background: var(--appv2-background);

    > * {
        height: 100%;
        width: 100%;

        pointer-events: all;
    }

    [data-application-part="header"] {
        grid-area: header;

        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--border-theme-color);

        .header-text {
            flex: 1;
            text-align: center;
            align-content: center;
            border-left: 1px solid var(--border-theme-color);
            border-right: 1px solid var(--border-theme-color);
            padding: 0.25rem;
            font-size: 1rem;
        }

        .item-controls {
            flex: 0 0 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
        }
    }

    [data-application-part="actor"] {
        grid-area: actor;

        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--border-theme-color);

        aside {
            flex: 0 0 40%;
            img {
               height: 100%;
               border-radius: 0px;
               object-fit: contain; 
            }
        }

        main {
            flex: 0 0 60%;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            justify-content: center;

            label {
                font-size: 13.5px;
            }

            input {
                width: 75%;
            }
        }
    }

    section[data-application-part="perk"] {
        grid-area: perk;

        h2 {
            font-family: inherit;
            font-size: 1.25rem;
        }

        .perk-header {
            border-bottom: 1px solid var(--color-light-6);
            padding: 0.5rem 0;

            h2 {
                border-bottom: unset;
                text-align: center;
                margin-bottom: 0;
                font-size: 1rem;
            }
        }

        figure {
            padding: 0.5rem;
            margin: 0.5rem;
            border: 1px solid var(--color-light-6);
            border-radius: 8px;

            header {
              margin-bottom: 0.25rem;
              h2 {
                margin-bottom: 0.25rem;
              }

              &.traits {
                margin: 0.25rem 0;
              }
            }

            .perk-embed {
                border: unset;
                border-radius: unset;
                background: unset;
                display: contents;
                
                main {
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }

          figure {
            fieldset {
              padding: 1rem;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 0.5rem;
              border-radius: 8px;
              border-color: var(--border-theme-color);
              p {
                margin: 0;
              }
            }
          }
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            padding: 0.5rem 0;
            border-top: 1px solid var(--color-light-6);
            border-bottom: 1px solid var(--color-light-6);

            button {
                &.purchase, &.refund {
                    flex: 0 0 70%;
                }

                &.refund {
                  border-color: #851a1a;
                }

                &.unavailable {
                    filter: grayscale(100%);
                    cursor: not-allowed;
                }
            }
        }

    }

    .controls {
        grid-area: controls;

        padding: 0.5rem;
        color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        &.editing {
            background: #851a1a;
        }

        button {
            flex-basis: 60%;
            line-height: 1.5rem;
        }
    }
}

#perk-web-hud {
    left: 0px;
    grid-template-rows: 33px 100px auto min-content;
    grid-template-areas: 
        "header" 
        "actor" 
        "perk" 
        "controls";
}

#perk-web-search {
    right: 0px;
    grid-template-rows: 33px min-content auto;
    grid-template-areas: 
        "header" 
        "search" 
        "results";

    [data-application-part="header"] {
        .header-text {
            border: unset;
        }
    }

    [data-application-part="search"] {
        grid-area: search;

        .search {
            margin: 0.5rem;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-theme-color);
            border-radius: 6px;

            dl {
              margin: 0.25em 0;

                dt {
                    display: inline-block;
                    padding-left: 5px;
                    font-weight: bold;
                }
                dd {
                    display: inline-block;
                    text-transform: capitalize;
                    padding-left: 5px;
                    margin: 3px 0;

                    select {
                        margin-left: 0.5em;
                        width: 8.5em;
                    }
                }
                a.direction {
                    padding: 2px;
                }
            }
        }

        [data-filter-type="multiselects"], [data-filter-type="checkboxes"] {
            border: 1px solid var(--border-theme-color);
            border-radius: 6px;
            margin: 0.5rem;
            padding: 0.5rem;

            dt {
              width: 10%;
            }
    
            dd {
                width: 82%;
            }

            .tags {
                --readonly-striped: 0;
                border: none;
                gap: 0;
                padding: 0;
            }
            .filter-conjunction {
                font-size: 12px;
            }
        }
    }

    [data-application-part="results"] {
        grid-area: results;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: bold;

            .results {
                flex: 1;
                text-align: center;
                align-content: center;
                border-top: 1px solid var(--border-theme-color);
                padding: 0.5rem 0.5rem 0 0.5rem;;
            }

            .perk {
                padding-top: 0;
            }
        }

        ul.result-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow: auto;
        }

        .perk {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem;
            border-bottom: 1px solid var(--border-theme-color);

            .perk-name {
                flex: 1;
            }

            .perk-cost {
                flex: 0 0 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#perk-hud {
    pointer-events: all;

    footer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}