<section>
    <header>
        <span class="results">Results</span>
        <div class="perk">
            <span class="perk-name">
                Perk
            </span>
            <span class="perk-cost pr-1">
                Cost
            </span>
        </div>
    </header>
    <ul class="item-list result-list"></ul>
</section>