<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
  <div class="scroll">
    <fieldset>
      <legend>Forme Effects</legend>
      
    </fieldset>
  </div>
</section>