<header class="explanation">
    <h2>PTR 1e Readonly View</h2>
    <p>This is the PTR1e Import View; you should only be seeing this if you attempt to open a 1e Actor or Item in a world that has loaded the 2e System.</p>
    <p>Listed below is the raw data of your Actor/Item, you can click through to check any information you may wish to copy as you are remaking your characters.</p>
    <p>The "system" node is where you'll want to look for most (useful) information.</p>
    <p>Actors can be imported using the "Attempt 2e Conversion" button above.</p>
</header>
{{{tree.html}}}