<footer class="d-flex flex-row justify-content-center align-items-center">
  {{#if (is tabs.training.active true)}}
    <button class="fb-65" type="button" data-action="apply-training-exp">Apply Training EXP</button>
  {{else}}
    <button class="fb-65" type="button" data-action="apply-venture-exp">Apply Venture EXP</button>
  {{/if}}
</footer>