<footer class="buttons">
  <button type="button" data-action="save">
    <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
  </button>
  <button type="button" data-action="add">
    <i class="fas fa-plus"></i> {{localize "PTR2E.TypeMatrix.AddType.Label"}}
  </button>
  <button type="button" data-action="reset">
    <i class="fas fa-undo"></i> {{localize "PTR2E.TypeMatrix.Reset.Label"}}
  </button>
</footer>