<figure>
    <header class="header">
        <h2>{{attack.name}}</h2>
    </header>
    {{#if traits}}
    <header class="traits">
        <input type="text" class="traits ptr2e-tagify" name="system.traits" value="{{json traits}}" data-dType="JSON" readonly/>
    </header>
    {{/if}}
    {{> move-body attack=attack fields=attack.schema.fields}}
</figure>