<figure>
    <header class="header">
        <h2>{{document.name}}</h2>
    </header>
    {{#if traits}}
    <header class="traits">
        <input type="text" class="traits ptr2e-tagify" name="system.traits" value="{{json traits}}" data-dType="JSON" readonly/>
    </header>
    {{/if}}
    {{> perk-body}}
</figure>