<figure>
    <header class="header">
        <h2>{{formatSlug document.name}} <span style="font-size: smaller; color: #6b6b6b;">#{{document.system.number}}</span></h2>
    </header>
    {{#if traits}}
    <header class="traits">
        <input type="text" class="traits ptr2e-tagify" name="system.traits" value="{{json traits}}" data-dType="JSON" readonly/>
    </header>
    {{/if}}
    {{> species-body }}
</figure>