<section>
    <aside>
        <img src="{{actor.img}}" alt="{{actor.name}}">
    </aside>
    <main class="standard-form">
        <div class="form-group stacked center-text">
            <label>{{localize 'PTR2E.ActorSystem.FIELDS.advancement.advancementPoints.available.label'}}</label>
            <div class="form-fields">
                <input type="number" value="{{actor.system.advancement.advancementPoints.available}}" disabled/>
            </div>
        </div>
    </main>
</section>