<div class="hud {{#if editMode}}editing{{/if}}">
    <div class="h3 center-text" style="flex: 1;">Hud</div>
    <button data-action="toggleEdit" class="toggleEdit fb-20">{{#if editMode}}Disable{{else}}Enable{{/if}} EditMode</button>
    <button data-action="refresh" class="refresh fb-10">Refresh</button>
    <button data-action="close-hud" class="close fb-10">Close</button>
</div>