<div class="hud {{#if editMode}}editing{{/if}} controls">
    {{#if (isGm)}}
        <button data-action="toggleEdit" class="toggleEdit">{{#if editMode}}Disable{{else}}Enable{{/if}} EditMode</button>
    {{/if}}
</div>