<header>
    <div class="item-controls">
        <a data-action="refresh" data-tooltip-direction="DOWN" data-tooltip="Refresh Perkweb" draggable="false"><i class="fa-solid fa-fw fa-rotate-right"></i></a>
    </div>
    <span class="header-text">{{actor.name}}'s Perk Web</span>
    <div class="item-controls">
        <a data-action="close-hud" data-tooltip-direction="DOWN" data-tooltip="Close Perkweb" draggable="false"><i class="fa-solid fa-fw fa-times"></i></a>
    </div>
</header>